/* Variables */
:root {
  --background: #fff;
  --border-color: #bbb;
  --color: rgba(0, 0, 0, 0.9);
  --color-secondary: rgba(0, 0, 0, 0.7);
  --orange: #f56200;
  --orange-nav-background: var(--orange);
  --orange-nav-highlight: #ff871f;
  --orange-nav-color: #fff;
  --top-nav-background: #eee;
  --top-nav-bottom-border: rgba(0, 0, 0, 0.2);
  --top-nav-link-color: rgba(0, 0, 0, 0.6);
  --left-nav-width: 180px;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #111;
    --border-color: #555;
    --color: rgba(255, 255, 255, 0.5);
    --color-secondary: var(--color);
    --orange-nav-background: #222;
    --orange-nav-highlight: #333;
    --orange-nav-color: var(--color);
    --top-nav-background: var(--background);
    --top-nav-bottom-border: var(--orange-nav-background);
    --top-nav-link-color: rgba(255, 255, 255, 0.5);
  }
}



/* Base */
* {
  box-sizing: border-box;
}
*:focus {
  outline-offset: 1px;
  outline-style: solid;
  outline-width: 2px;
}
body {
  background: var(--background);
  color: var(--color);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 15px;
  line-height: 1.6;
  margin: 0 0 0 var(--left-nav-width);
  overflow: hidden;
}
a {
  color: var(--orange);
}



/* Left Nav */
#left-nav {
  background: var(--orange-nav-background);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
  padding-bottom: 16px;
  position: fixed;
  top: 0;
  width: var(--left-nav-width);
  z-index: 2;
}
#left-nav .logo {
  align-items: center;
  color: var(--orange-nav-color);
  display: flex;
  height: 56px;
  padding: 0 20px;
}
#left-nav nav {
  display: flex;
  flex-direction: column;
}
#left-nav nav > a {
  align-items: center;
  /* border-radius: 40px; */
  color: var(--orange-nav-color);
  display: flex;
  /* margin: 1px 8px; */
  padding: 8px 16px 9px;
  text-decoration: none;
  transition: 100ms;
}
#left-nav nav > a:hover,
#left-nav nav > a.is-active {
  background: var(--orange-nav-highlight);
  opacity: 1;
}
@media (prefers-color-scheme: dark) {
  #left-nav nav > a:hover,
  #left-nav nav > a.is-active {
    color: #fff;
    box-shadow: inset 3px 0 0 var(--orange);
  }
}
#left-nav nav > a > span {
  margin-left: 8px;
}
#left-nav nav > a > img {
  border-radius: 24px;
  height: 24px;
  width: 24px;
}
#left-nav nav > a div {
  line-height: 1.4;
}
#left-nav nav > a small {
  display: block;
  font-size: 13px;
  opacity: 0.7;
}
#left-nav nav > hr {
  background: rgba(0,0,0,0.1);
  border: 0;
  height: 1px;
  margin: 16px 0;
  width: 100%;
}
#left-nav nav > span {
  color: #fff;
  font-size: 12px;
  padding: 24px 8px 4px;
  opacity: 0.7;
  text-transform: uppercase;
}
#left-nav nav > a.close-menu {
  display: none;
}



/* Mobile Footer Nav */
#mobile-footer-nav {
  background: var(--orange-nav-background);
  bottom: 0;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  height: auto;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
  position: fixed;
  width: 100vw;
  z-index: 1;
}
#mobile-footer-nav .logo {
  align-items: center;
  color: var(--orange-nav-color);
  display: flex;
  height: 56px;
  padding: 0 20px;
}
#mobile-footer-nav nav {
  display: flex;
  justify-content: space-around;
}
#mobile-footer-nav nav > a {
  align-items: center;
  color: var(--orange-nav-color);
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  text-decoration: none;
  transition: 100ms;
  width: 100%;
}
#mobile-footer-nav nav > a:hover,
#mobile-footer-nav nav > a.is-active {
  background: var(--orange-nav-highlight);
  opacity: 1;
}
@media (prefers-color-scheme: dark) {
  #mobile-footer-nav nav > a:hover,
  #mobile-footer-nav nav > a.is-active {
    color: #fff;
    box-shadow: inset 0 3px 0 var(--orange);
  }
}
#mobile-footer-nav nav > a > img {
  border-radius: 24px;
  height: 24px;
  width: 24px;
}



/* Top Nav */
#top-nav {
  align-items: center;
  border-bottom: 1px solid var(--top-nav-bottom-border);
  background: var(--top-nav-background);
  display: flex;
  overflow-x: auto;
  padding: 0 36px;
}
#top-nav nav {
  align-items: center;
  display: flex;
  height: 56px;
  margin-bottom: -1px;
  width: 100%;
}
#top-nav nav > a {
  align-items: center;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
  display: flex;
  color: var(--top-nav-link-color);
  font-size: 13px;
  height: 100%;
  margin: 0 16px 0 0;
  padding: 8px 0 9px;
  position: relative;
  text-decoration: none;
  transition: 100ms;
  white-space: nowrap;
}
#top-nav nav > a:hover,
#top-nav nav > a.is-active {
  border-bottom-color: var(--orange);
  color: var(--color);
}
@media (prefers-color-scheme: dark) {
  #top-nav nav > a:hover,
  #top-nav nav > a.is-active {
    color: #fff;
  }
}



/* Layout */
main {
  padding: 24px 36px;
}
#action-bar {
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}
#action-bar .button {
  margin-right: 4px;
}
.flex {
  display: flex;
}



/* Components */
.button {
  align-items: center;
  background: linear-gradient(#fff, #eee);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  color: var(--color-secondary);
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: inherit;
  height: 36px;
  line-height: inherit;
  margin: 0;
  padding: 0 16px 2px;
  vertical-align: middle;
  white-space: nowrap;
}
.button:hover {
  background: linear-gradient(#f4f4f4, #e4e4e4);
}
.button:active {
  transform: translateY(1px);
}
@media (prefers-color-scheme: dark) {
  .button {
    background: linear-gradient(#333, #222);
  }
  .button:hover {
    background: linear-gradient(#2a2a2a, #1a1a1a);
  }
}
.button.primary {
  background: linear-gradient(#60B64B, #1A8D08);
  border-color: #1C7A0E;
  color: #fff;
  font-weight: 500;
}
.button.primary:hover {
  background: linear-gradient(#14A000, #1C7A0E);
}

.input {
  align-items: center;
  background: var(--background);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: inherit;
  display: inline-flex;
  font-family: inherit;
  font-size: inherit;
  height: 36px;
  margin: 0;
  padding: 0 8px;
  vertical-align: middle;
}
@media (prefers-color-scheme: dark) {
  .input {
    background: var(--orange-nav-background);
  }
}



/* Responsive Test */
@media (max-width: 1000px) {
  :root {
    --left-nav-width: 100vw;
  }
  body {
    margin-left: 0;
  }
  #left-nav {
    display: none;
  }
  #left-nav .logo,
  #mobile-footer-nav,
  #left-nav nav > a.close-menu {
    display: flex;
  }
  #top-nav,
  main {
    padding-left: 16px;
    padding-right: 16px;
  }
  main {
    margin-bottom: 100px;
  }
}
