/* Variables */
:root {
  --warm-white: #fff8f1;
  --white:      #fff;
  --charcoal:   #1d1e1c;

  --gray-alpha-100: rgba(29,30,28,0.05);
  --gray-alpha-150: rgba(29,30,28,0.15);
  --gray-alpha-200: rgba(29,30,28,0.2);
  --gray-alpha-300: rgba(29,30,28,0.35);
  --gray-alpha-400: rgba(29,30,28,0.4);
  --gray-alpha-500: rgba(29,30,28,0.5);
  --gray-alpha-600: rgba(29,30,28,0.62);
  --gray-alpha-700: rgba(29,30,28,0.7);
  --gray-alpha-800: rgba(29,30,28,0.8);
  --gray-alpha-900: rgba(29,30,28,0.9);

  --orange-50:  #FFEFE4;
  --orange-100: #FFE7D9;
  --orange-200: #FFC5A3;
  --orange-300: #FFA26C;
  --orange-400: #FF8036;
  --orange:     #FA5D00;
  --orange-600: #DF4B00;
  --orange-700: #BF3B00;

  --green-100: #DAEFDC;
  --green-200: #A8D6AD;
  --green-300: #76BC82;
  --green-400: #46A159;
  --green:     #188433;
  --green-600: #11742A;
  --green-700: #0B6221;

  --blue-100: #deedfd;
  --blue-200: #b1d0f8;
  --blue-300: #86b1f1;
  --blue-400: #5d8fe8;
  --blue:     #376bdd;
  --blue-600: #2a59c1;
  --blue-700: #1e48a3;

  --color: var(--charcoal);
  --color-secondary: var(--gray-alpha-700);

  --left-nav-width: 160px;
}


/* Base */
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
*:focus {
  outline-color: var(--charcoal);
}
html {
  background: var(--warm-white);
  height: 100%;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}
body {
  color: var(--color);
  font-family: "Muoto VAR", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 15px;
  min-height: 100%;
  line-height: 1.4;
  margin: 0 0 0 var(--left-nav-width);
  overscroll-behavior: none;
}
h1, h2, h3, h4, h5 {
  font-weight: 500;
  margin: 0;
}
h1 {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
}
h2 {
  font-size: 25px;
  font-weight: 600;
  line-height: 1.2;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 17px;
}
h5 {
  font-size: 15px;
}
a {
  color: var(--blue);
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}
small {
  font-size: 13px;
}
hr {
  background: var(--gray-alpha-200);
  border: 0;
  display: block;
  height: 1px;
  margin: 0;
  padding: 0;
  width: 100%;
}
strong {
  font-weight: 500;
}
ul {
  padding-left: 0;
}

/* Left Nav */
#left-nav {
  background: var(--orange);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
  margin: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  overflow: auto;
  padding-bottom: 16px;
  position: fixed;
  top: 0;
  width: var(--left-nav-width);
  z-index: 2;
}
#left-nav .logo {
  align-items: center;
  color: var(--warm-white);
  cursor: default;
  display: flex;
  font-size: 48px;
  line-height: 1;
  padding: 16px;
  user-select: none;
}
#left-nav nav {
  display: flex;
  flex-direction: column;
}
#left-nav nav > a {
  -webkit-font-smoothing: subpixel-antialiased;
  align-items: center;
  color: var(--warm-white);
  display: flex;
  font-size: 15px;
  font-weight: 500;
  padding: 8px 16px;
  text-decoration: none;
}
#left-nav nav > a:hover,
#left-nav nav > a.is-active {
  background: var(--orange-600);
  color: var(--white);
}
#left-nav nav > a:active {
  background: var(--orange-700);
}
#left-nav nav > a:focus {
  outline-offset: -1px;
}
#left-nav nav > a > span {
  margin-left: 8px;
}
#left-nav nav > a > img {
  border-radius: 20px;
  height: 20px;
  width: 20px;
}
#left-nav nav > hr {
  background: var(--orange-400);
  border: 0;
  height: 1px;
  margin: 8px;
  width: auto;
}
#left-nav nav > a.close-menu {
  display: none;
}



/* Mobile Footer Nav */
.mobile-menu-button {
  align-items: center;
  background-color: var(--orange);
  border: 0;
  color: var(--warm-white);
  cursor: pointer;
  display: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  gap: 8px;
  height: 48px;
  padding: 0 16px;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  width: 100vw;
  z-index: 1;
}
.mobile-menu-button:hover {
  background: var(--orange-600);
  opacity: 1;
}



/* Top Nav */
#top-nav {
  /* background-color: var(--white); */
  /* background-clip: padding-box; */
  box-shadow: inset 0 -1px 0 var(--gray-alpha-200);
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0 36px;
}
#top-nav nav {
  align-items: center;
  display: flex;
  gap: 12px;
}
#top-nav nav > a {
  align-items: center;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
  display: flex;
  color: var(--color-secondary);
  font-size: 13px;
  font-weight: 400;
  height: 100%;
  padding: 12px 4px;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
}
#top-nav nav > a:hover,
#top-nav nav > a.is-active {
  border-bottom-color: var(--orange);
  color: var(--color);
}
#top-nav nav > a:active {
  border-bottom-color: var(--orange-700);
}
#top-nav nav > a.is-active {
  font-weight: 500;
}
#top-nav nav > a:focus {
  outline-offset: -1px;
}



/* Layout */
main {
  margin: auto;
  max-width: 1600px;
  padding: 36px;
  position: relative;
}
main.medium {
  max-width: 900px;
}
main.narrow {
  max-width: 720px;
}



/* Components */
.button {
  align-items: center;
  background-clip: padding-box;
  background-color: var(--white);
  border: 1px solid var(--gray-alpha-300);
  border-radius: 9px;
  color: var(--color);
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 15px;
  font-weight: 400;
  gap: 4px;
  height: 36px;
  justify-content: center;
  line-height: 36px;
  margin: 0;
  padding: 0 16px;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
}
.button:hover {
  border-color: var(--gray-alpha-700);
  color: var(--color);
}
.button:hover, .button:focus {
  z-index: 1;
}
.button:active {
  background-color: var(--gray-alpha-100);
}
.button-sm {
  border-radius: 7.75px;
  font-size: 13px;
  height: 31px;
  line-height: 31px;
  padding: 0 8px;
}
.button.running {
  background-clip: border-box;
  background-color: var(--charcoal);
  border-color: transparent;
  color: var(--white);
  font-weight: 500;
}
.button.running:hover {
  background-color: var(--gray-alpha-900);
}
.button.running:active {
  background-color: var(--gray-alpha-800);
}
.button.primary {
  background-clip: border-box;
  background-color: var(--blue);
  border: transparent;
  color: var(--white);
  font-weight: 500;
}
.button.primary:hover {
  background-color: var(--blue-600);
}
.button.primary:active {
  background-color: var(--blue-700);
}
.button.clear-filters {
  background-clip: border-box;
  background-color: var(--blue-100);
  border-color: transparent;
  color: var(--blue-600);
}
.button.clear-filters:hover {
  border-color: var(--blue-400);
  /* color: var(--white); */
}
.button.clear-filters:active {
  background-color: var(--blue-200);
  color: var(--blue-700);
}
.button.is-disabled {
  background-color: var(--gray-alpha-100) !important;
  border-color: var(--gray-alpha-200) !important;
  color: var(--gray-alpha-600) !important;
  box-shadow: none !important;
  cursor: not-allowed !important;
  opacity: 0.7 !important;
  transform: none !important;
}
.button.primary.is-disabled {
  background-color: var(--blue-200) !important;
  border-color: transparent !important;
  color: var(--white) !important;
}
.button.is-filtered span {
  color: var(--blue);
}
.button-group {
  display: flex;
}
.button-group .button {
  background-clip: border-box;
  margin-right: -1px;
}
.button-group .button:not(:first-of-type):not(:last-of-type) {
  border-radius: 0;
}
.button-group .button:first-of-type {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.button-group .button:last-of-type {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-right: 0;
}
a.button {
  text-decoration: none;
}
.button-icon {
  padding: 0;
  width: 36px;
}
.button-sm.button-icon {
  width: 31px;
}

.input {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: var(--white);
  border: 1px solid var(--gray-alpha-300);
  border-radius: 4px;
  caret-color: var(--charcoal);
  color: inherit;
  display: inline-flex;
  font-family: inherit;
  font-size: inherit;
  height: 36px;
  line-height: inherit;
  margin: 0;
  padding: 0 8px;
  width: 100%;
  vertical-align: middle;
}
.input.search {
  width: 200px;
}
.input:hover, .input:active {
  border-color: var(--gray-alpha-700);
}
textarea.input {
  height: auto;
  line-height: 1.4;
  padding-bottom: 6px;
  padding-top: 7px;
  resize: vertical;
}
input[type="checkbox"],
input[type="radio"] {
  accent-color: var(--orange);
  cursor: pointer;
  display: inline-flex;
  height: 15px;
  margin: -2px 2px 0 0 !important;
  opacity: 0.7;
  vertical-align: middle;
  width: 15px;
}
input[type="checkbox"]:hover,
input[type="radio"]:hover,
input[type="checkbox"]:checked,
input[type="radio"]:checked {
  opacity: 1;
}
/* input[type="checkbox"],
input[type="radio"] {
  -webkit-appearance: none;
  align-self: center;
  background-clip: padding-box;
  background-color: var(--white);
  border: 1px solid var(--gray-alpha-300);
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  height: 16px;
  margin: -2px 0 0;
  padding: 0;
  vertical-align: middle;
  width: 16px;
}
input[type="radio"] {
  border-radius: 100px;
}
input[type="checkbox"]:hover,
input[type="radio"]:hover {
  border-color: var(--gray-alpha-600);
}
input[type="checkbox"]:focus,
input[type="radio"]:focus {
  border-color: var(--orange);
}
input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background-color: var(--orange);
  border-color: var(--orange-700);
} */

@media screen and (max-width: 900px) {
  .table-wrapper {
    max-width: 100%;
    overflow: auto;
  }
  .table-wrapper .table {
    min-width: 700px;
  }
}
.timeexpense-row-buttons .flex {
  flex-direction: column;
  justify-content: stretch;
}
.timeexpense-row-buttons span {
  display: none;
}
@media screen and (min-width: 600px) {
  .timeexpense-row-meta {
    align-items: flex-start;
    display: flex;
    gap: 16px;
  }
  .timeexpense-row-buttons .flex {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 8px;
  }
  .timeexpense-row-buttons span {
    display: inline;
  }
}
.table {
  border-top: 1px solid var(--gray-alpha-200);
  font-size: inherit;
  line-height: inherit;
  text-align: left;
  width: 100%;
}
.table th, .table td {
  background-clip: padding-box;
  border-bottom: 1px solid var(--gray-alpha-200);
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 8px;
}
.table th.no-width, .table td.no-width {
  width: 1px;
}
.table th {
  background-color: var(--gray-alpha-100);
  color: var(--color-secondary);
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  z-index: 1;
}
.table th:hover {
  color: var(--charcoal);
  cursor: pointer;
}
.table th.is-sorted {
  color: var(--charcoal);
  /* font-weight: 500; */
}
.table th.is-sorted svg {
  color: var(--orange);
  display: inline-block;
  margin-top: -2px;
  vertical-align: middle;
}
.table tbody tr:hover td {
  background-color: var(--blue-100) !important;
  cursor: pointer;
}
.table tfoot td {
  border: 0
}
.time-table {
  border-top: 0;
}
.time-table td,
.expense-table td {
  padding-bottom: 16px;
  padding-top: 16px;
}
.time-table tr.is-running td {
  background-color: var(--orange-100);
}

.tabs {
  box-shadow: inset 0 -1px 0 var(--gray-alpha-200);
  overflow-x: auto;
  overflow-y: hidden;
}
.tabs nav {
  align-items: center;
  display: flex;
  gap: 16px;
  width: 100%;
}
.tabs nav > a {
  align-items: center;
  border-bottom: 2px solid transparent;
  display: flex;
  color: var(--color-secondary);
  font-weight: 400;
  height: 100%;
  padding: 8px 4px;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
}
.tabs nav > a:hover,
.tabs nav > a.is-active {
  border-bottom-color: var(--orange);
  color: var(--color);
}
.tabs nav > a:active {
  border-bottom-color: var(--orange-700);
}
.tabs nav > a.is-active {
  font-weight: 500;
}
.tabs nav > a:focus {
  outline-offset: -1px;
}
.tabs.time-tabs nav {
  gap: 4px;
}
.tabs.time-tabs nav > a {
  flex: 1;
}
.tabs.time-tabs nav > a:not(.is-active):not(:hover){
  filter: grayscale(1);
}
.tabs.time-tabs div {
  border-bottom: 3px solid transparent;
  padding: 8px 4px;
  text-align: right;
}

.avatar {
  border-radius: 300px;
  display: inline-block;
  vertical-align: middle;
}

.meter {
  background: var(--gray-alpha-100);
  border-radius: 3px;
  height: 17px;
  margin: 2px 0;
  overflow: hidden;
  position: relative;
  width: 200px;
}
.meter:before {
  background-color: var(--charcoal);
  box-sizing: border-box;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 65%;
}
.meter::after {
  border: 1px solid var(--gray-alpha-150);
  border-radius: 3px;
  box-sizing: border-box;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.summary {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: flex-start;
  width: 100%;
}
.summary-no-box {
  flex: auto;
}
.summary-box {
  border: 1px solid var(--gray-alpha-150);
  flex: auto;
  padding: 16px;
}

.back-to {
  line-height: 1;
}
.back-to svg {
  color: var(--blue);
}

.empty {
  background: var(--gray-alpha-100);
  color: var(--gray-alpha-700);
  font-size: 17px;
  justify-content: center;
  padding: 48px;
  text-align: center;
}
.empty.big {
  padding-bottom: 120px;
  padding-top: 120px;
}
.empty img {
  display: inline-block;
}
@media (max-width: 500px) {
  .empty br {
    display: none;
  }
}

.form-box {
  background-clip: padding-box;
  background-color: var(--white);
  /* border: 1px solid var(--orange-300); */
  border-radius: 4px;
  box-shadow: 0 0.5px 1px rgba(0,0,0,0.015), 0 1px 2px rgba(0,0,0,0.025), 0 1.5px 3px rgba(0,0,0,0.05), 0 2px 4px rgba(0,0,0,0.075);
  padding: 32px;
}
.form-box-inner {
  margin: auto;
  max-width: 640px;
}
label {
  cursor: pointer;
}
.field .left label {
  font-weight: 500;
  margin-bottom: 4px;
}
.field .right {
  width: 100%;
}
@media (min-width: 600px) {
  .field {
    display: grid;
    grid-template-columns: 140px 1fr;
    gap: 16px;
  }
  .field .left label {
    align-items: center;
    cursor: text;
    display: flex;
    height: 36px;
    margin: 0;
  }
  .field .left label.no-height {
    height: auto;
  }
  .submit {
    margin-left: 156px;
  }
}
.required {
  color: var(--orange);
}























/* Atomic */
.flex {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: flex-start;
}
.align-items-baseline {
  align-items: baseline;
}
.align-items-center {
  align-items: center;
}
.justify-space-between {
  justify-content: space-between;
}
.text-400 {
  font-weight: 400;
}
.text-right {
  text-align: right;
}
.mr-4 {
  margin-right: 4px;
}
.mr-8 {
  margin-right: 8px;
}
.mr-16 {
  margin-right: 16px;
}
.ml-4 {
  margin-left: 4px;
}
.ml-8 {
  margin-left: 8px;
}
.ml-16 {
  margin-left: 16px;
}
.mb-4 {
  margin-bottom: 4px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mt-8 {
  margin-top: 8px;
}
.mt-16 {
  margin-top: 16px;
}
.mt-24 {
  margin-top: 24px;
}
.pt-8 {
  padding-top: 8px;
}
.nowrap {
  flex-wrap: nowrap !important;
  white-space: nowrap !important;
}
.text-center {
  text-align: center;
}



/* Responsive Test */
@media (max-width: 1000px) {
  body {
    margin-left: 0;
  }
  #left-nav {
    display: none;
  }
  #left-nav .logo,
  #left-nav nav > a.close-menu,
  .mobile-menu-button {
    display: flex;
  }
  #top-nav,
  #action-bar,
  main {
    padding-left: 16px;
    padding-right: 16px;
  }
  main {
    margin-bottom: 100px;
  }
}
@media (max-width: 600px) {
  :root {
    --left-nav-width: 100vw;
  }
}
.show-desktop {
  display: none;
}
@media (min-width: 600px) {
  .show-desktop {
    display: flex;
  }
  .show-mobile {
    display: none;
  }
}
