/* Variables */
:root {
  --warm-white: #fff8f1;
  --white:      #fff;
  --charcoal:   #1d1e1c;

  --gray-alpha-100: rgba(29,30,28,0.08);
  --gray-alpha-200: rgba(29,30,28,0.25);
  --gray-alpha-300: rgba(29,30,28,0.3);
  --gray-alpha-400: rgba(29,30,28,0.4);
  --gray-alpha-500: rgba(29,30,28,0.5);
  --gray-alpha-600: rgba(29,30,28,0.62);
  --gray-alpha-700: rgba(29,30,28,0.7);
  --gray-alpha-800: rgba(29,30,28,0.8);

  --orange-100: #FFE7D9;
  --orange-200: #FFC5A3;
  --orange-300: #FFA26C;
  --orange-400: #FF8036;
  --orange:     #FA5D00;
  --orange-600: #DF4B00;
  --orange-700: #BF3B00;

  --green-100: #DAEFDC;
  --green-200: #A8D6AD;
  --green-300: #76BC82;
  --green-400: #46A159;
  --green:     #188433;
  --green-600: #11742A;
  --green-700: #0B6221;

  --blue:     #376BDD;
  --blue-600: #2A59C1;

  --color: var(--charcoal);
  --color-secondary: var(--gray-alpha-700);

  --left-nav-width: 180px;
}


/* Base */
* {
  box-sizing: border-box;
}
*:focus {
  outline-color: var(--orange);
}
html {
  background: var(--warm-white);
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}
body {
  color: var(--color);
  font-family: Muoto, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 15px;
  line-height: 1.4;
  margin: 0 0 0 var(--left-nav-width);
}
h1, h2, h3, h4 {
  font-weight: 500;
  margin: 0;
}
h1 {
  font-size: 30px;
  line-height: 1.2;
}
h2 {
  font-size: 24px;
  line-height: 1.25;
}
h3 {
  font-size: 20px;
}
a {
  color: var(--charcoal);
}
small {
  font-size: 13px;
}
hr {
  background: var(--gray-alpha-300);
  border: 0;
  display: block;
  height: 1px;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Left Nav */
#left-nav {
  background: var(--orange);
  /* box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1); */
  /* border-right: 1px solid var(--orange-600); */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
  margin: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  overflow: auto;
  padding-bottom: 16px;
  position: fixed;
  top: 0;
  width: var(--left-nav-width);
  z-index: 2;
}
#left-nav .logo {
  align-items: center;
  border-bottom: 1px solid var(--orange);
  color: var(--warm-white);
  display: flex;
  height: 56px;
  margin-bottom: 16px;
  padding: 0 20px;
}
#left-nav nav {
  display: flex;
  flex-direction: column;
}
#left-nav nav > a {
  align-items: center;
  color: var(--warm-white);
  display: flex;
  height: 40px;
  padding: 0 16px;
  text-decoration: none;
  transition: background-color 100ms;
}
#left-nav nav > a:hover,
#left-nav nav > a.is-active {
  background: var(--orange-600);
  color: var(--white);
  opacity: 1;
}
#left-nav nav > a:active {
  background: var(--orange-700);
}
#left-nav nav > a:focus {
  outline-offset: -1px;
}
#left-nav nav > a > span {
  margin-left: 8px;
}
#left-nav nav > a > img {
  border-radius: 20px;
  height: 20px;
  width: 20px;
}
#left-nav nav > hr {
  background: var(--orange);
  border: 0;
  height: 1px;
  margin: 16px 0;
  width: 100%;
}
#left-nav nav > span {
  color: #fff;
  font-size: 16px;
  padding: 24px 8px 4px;
  opacity: 0.7;
  text-transform: uppercase;
}
#left-nav nav > a.close-menu {
  display: none;
}



/* Mobile Footer Nav */
.mobile-menu-button {
  align-items: center;
  background-color: var(--orange);
  border: 0;
  color: var(--white);
  cursor: pointer;
  display: none;
  font-family: inherit;
  font-size: inherit;
  height: 56px;
  padding: 0 16px;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  transition: background-color 100ms;
  width: 100vw;
  z-index: 1;
}
.mobile-menu-button:hover {
  background: var(--orange-600);
  opacity: 1;
}



/* Help Button */
.help-button {
  align-items: center;
  border: 2px solid var(--orange);
  border-radius: 40px;
  bottom: 16px;
  /* box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1); */
  color: var(--orange);
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: 300;
  height: 32px;
  justify-content: center;
  margin-bottom: env(safe-area-inset-bottom);
  margin-right: env(safe-area-inset-bottom);
  overflow: hidden;
  position: fixed;
  right: 16px;
  text-decoration: none;
  width: 32px;
  z-index: 100;
}
.help-button span {
  position: absolute;
  text-indent: -999em;
}
.help-button:after {
  content: "?";
}



/* Top Nav */
#top-nav {
  /* background-color: var(--orange-100); */
  box-shadow: inset 0 -1px 0 var(--gray-alpha-200);
  font-size: 13px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0 36px;
}
#top-nav nav {
  align-items: center;
  display: flex;
  gap: 16px;
}
#top-nav nav > a {
  align-items: center;
  border-bottom: 2px solid transparent;
  display: flex;
  color: var(--color-secondary);
  height: 100%;
  padding: 16px 0 10px;
  position: relative;
  text-decoration: none;
  transition: border 100ms, color 100ms;
  white-space: nowrap;
}
#top-nav nav > a:hover,
#top-nav nav > a.is-active {
  border-color: var(--orange);
  color: var(--color);
}
#top-nav nav > a:active {
  border-color: var(--orange-700);
}
#top-nav nav > a.is-active {
  font-weight: 500;
}
#top-nav nav > a:focus {
  outline-offset: -1px;
}



/* Layout */
main {
  margin: auto;
  padding: 36px;
}
main.narrow {
  max-width: 900px;
}



/* Components */
.button {
  align-items: center;
  background-clip: padding-box;
  background-color: var(--white);
  border: 1px solid var(--gray-alpha-300);
  border-radius: 5px;
  color: var(--color);
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: inherit;
  gap: 4px;
  height: 36px;
  justify-content: center;
  line-height: 36px;
  margin: 0;
  padding: 0 16px;
  position: relative;
  transition: background-color 100ms, border 100ms, box-shadow 100ms;
  vertical-align: middle;
  white-space: nowrap;
}
.button:hover {
  border-color: var(--gray-alpha-500);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.button:active {
  background-color: var(--gray-alpha-100);
  box-shadow: none !important;
  transform: translateY(1px);
}
.button-sm {
  font-size: 13px;
  height: 31px;
  line-height: 31px;
  padding: 0 8px;
}
.button.primary {
  background-clip: border-box;
  background-color: var(--green);
  border-color: var(--green-700);
  color: #fff;
}
.button.primary:hover {
  background-color: var(--green-600);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
.button.primary:active {
  background-color: var(--green-700);
}
.button.is-disabled {
  background-color: var(--gray-alpha-100);
  border-color: var(--gray-alpha-200);
  color: var(--gray-alpha-600);
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.7;
}
.button.is-filtered {
  color: var(--blue);
}
.button-group {
  display: flex;
}
.button-group .button {
  margin-right: -1px;
}
.button-group .button:last-of-type {
  margin-right: 0;
}
a.button {
  text-decoration: none;
}
.button span {
  color: var(--color-secondary);
}
.button-icon {
  padding: 0;
  width: 35px;
}
.button-sm.button-icon {
  width: 31px;
}

.input {
  align-items: center;
  background-clip: padding-box;
  background-color: var(--white);
  border: 1px solid var(--gray-alpha-300);
  border-radius: 5px;
  color: inherit;
  display: inline-flex;
  font-family: inherit;
  font-size: inherit;
  height: 36px;
  line-height: inherit;
  margin: 0;
  padding: 0 8px;
  transition: border 100ms;
  vertical-align: middle;
}
.input:hover, .input:active {
  border-color: var(--gray-alpha-500);
}
input[type="checkbox"] {
  -webkit-appearance: none;
  background-clip: padding-box;
  background-color: var(--white);
  border: 1px solid var(--gray-alpha-200);
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  height: 15px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  width: 15px;
}
input[type="checkbox"]:hover {
  border-color: var(--gray-alpha-500);
}
input[type="checkbox"]:checked {
  background-color: var(--orange);
  border-color: var(--orange-700);
}

@media screen and (max-width: 900px) {
  .table-wrapper {
    max-width: 100%;
    overflow: auto;
  }
  .table {
    min-width: 700px;
  }
}
.table {
  border-top: 1px solid var(--gray-alpha-200);
  font-size: inherit;
  line-height: inherit;
  text-align: left;
  width: 100%;
}
.table th, .table td {
  background-clip: padding-box;
  border-bottom: 1px solid var(--gray-alpha-200);
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 8px;
  transition: background-color 100ms;
}
.table th.no-width, .table td.no-width {
  width: 1px;
}
.table th {
  background-color: var(--gray-alpha-100);
  color: var(--color-secondary);
  font-size: 13px;
  font-weight: 400;
  z-index: 1;
}
.table th.is-sorted:after {
  color: var(--orange-400);
  content: " ↓";
}
.table tr:hover td {
  background-color: var(--gray-alpha-100);
  background-color: var(--orange-100);
  border-color: var(--orange-300);
  box-shadow: 0 -1px 0 var(--orange-300);
  cursor: pointer;
}
/* .table tbody:not(:last-of-type) tr:last-of-type td {
  border: 0;
} */
/* .table tr:not(:hover) td .button {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
} */

.tabs {
  box-shadow: inset 0 -1px 0 var(--gray-alpha-200);
  overflow-x: auto;
  overflow-y: hidden;
}
.tabs nav {
  align-items: center;
  display: flex;
  gap: 16px;
  width: 100%;
}
.tabs nav > a {
  align-items: center;
  border-bottom: 2px solid transparent;
  display: flex;
  color: var(--color-secondary);
  height: 100%;
  padding: 8px 4px;
  position: relative;
  text-decoration: none;
  transition: border 100ms, color 100ms;
  white-space: nowrap;
}
.tabs nav > a:hover,
.tabs nav > a.is-active {
  border-bottom-color: var(--orange);
  color: var(--color);
}
.tabs nav > a:active {
  border-bottom-color: var(--orange-700);
}
.tabs nav > a.is-active {
  font-weight: 500;
}
.tabs nav > a:focus {
  outline-offset: -1px;
}
.tabs.time-tabs nav {
  gap: 4px;
}
.tabs.time-tabs nav > a {
  flex: 1;
}
.tabs.time-tabs div {
  border-bottom: 3px solid transparent;
  padding: 8px 4px;
  text-align: right;
}

.avatar {
  border-radius: 300px;
  display: inline-block;
  vertical-align: middle;
}

.meter {
  background: var(--blue);
  border: 1px solid var(--blue-600);
  border-radius: 2px;
  height: 16px;
  width: 100px;
}

.summary {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-start;
  width: 100%;
}
.summary-box {
  flex: auto;
}


























/* Atomic */
.flex {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: flex-start;
}
.align-items-center {
  align-items: center;
}
.justify-space-between {
  justify-content: space-between;
}
.text-400 {
  font-weight: 400;
}
.text-right {
  text-align: right;
}
.mr-4 {
  margin-right: 4px;
}
.mr-8 {
  margin-right: 8px;
}
.mr-16 {
  margin-right: 16px;
}
.ml-4 {
  margin-left: 4px;
}
.ml-8 {
  margin-left: 8px;
}
.ml-16 {
  margin-left: 16px;
}
.mb-4 {
  margin-bottom: 4px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mt-8 {
  margin-top: 8px;
}
.mt-16 {
  margin-top: 16px;
}
.mt-24 {
  margin-top: 24px;
}
.nowrap {
  flex-wrap: nowrap !important;
  white-space: nowrap !important;
}
.text-center {
  text-align: center;
}



/* Responsive Test */
@media (max-width: 1000px) {
  body {
    margin-left: 0;
  }
  #left-nav,
  .help-button {
    display: none;
  }
  #left-nav .logo,
  #left-nav nav > a.close-menu,
  .mobile-menu-button {
    display: flex;
  }
  #top-nav,
  #action-bar,
  main {
    padding-left: 16px;
    padding-right: 16px;
  }
  main {
    margin-bottom: 100px;
  }
}
@media (max-width: 600px) {
  :root {
    --left-nav-width: 100vw;
  }
}
