/* Variables */
:root {
  --background: #FFF;
  --text: rgba(0, 0, 0, 0.9);
  --text-medium: rgba(0, 0, 0, 0.6);
  --text-light: rgba(0, 0, 0, 0.3);
  --primary: rgba(0, 0, 255, 1);
  --code-background: #EEE;
  --code-text: inherit;
  --code-dark-background: #282C34;
  --code-dark-text: #D6D5CC;
  --font-code: 'LG Mono', Monaco, monospace;
  --font-sans: 'LG', -apple-system, BlinkMacSystemFont, sans-serif;
  --font-serif: 'Times New Roman', serif;
  --gap: 3.5rem;
  --max-width-small: 35rem;
  --max-width-medium: 42rem;
  --max-width-large: 60rem;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --text: rgba(255, 255, 255, 0.8);
    --text-medium: rgba(255, 255, 255, 0.6);
    --text-light: rgba(255, 255, 255, 0.4);
    --primary: rgba(0, 255, 255, 0.9);
    --code-background: var(--code-dark-background);
    --code-text: var(--code-dark-text);
  }
}



/* Fonts */
@font-face {
  font-display: swap;
  font-family: 'LG';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/LG-Regular.woff2');
}
@font-face {
  font-display: swap;
  font-family: 'LG';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/LG-RegularItalic.woff2');
}
@font-face {
  font-display: swap;
  font-family: 'LG';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/LG-Bold.woff2');
}
@font-face {
  font-display: swap;
  font-family: 'LG';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/LG-BoldItalic.woff2');
}
@font-face {
  font-display: swap;
  font-family: 'LG Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/LG-mono.woff');
}



/* Base */
*, *:before, *:after {
  box-sizing: border-box;
}
*:focus {
  outline: 2px solid var(--primary);
}
html {
  font-size: 20px;
  -webkit-text-size-adjust: 100%;
}
body {
  background-color: var(--background);
  color: var(--text);
  font-family: var(--font-sans);
  font-feature-settings: 'liga', 'ss02', 'ss04';
  font-size: 1rem;
  font-variation-settings: 'wght' 400;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-sans);
  font-size: 1rem;
  font-variation-settings: 'wght' 600;
  font-weight: 600;
  margin: 1rem auto;
}
h1 {
  font-size: 1.7rem;
  letter-spacing: -0.02em;
  line-height: 1.2;
}
h2 {
  font-size: 1.3rem;
  letter-spacing: -0.01em;
  line-height: 1.2;
}
img {
  max-width: 100%;
}
hr {
  background: var(--text-light);
  border: 0;
  height: 1px;
  margin: var(--gap) auto;
  width: 10rem;
}
a {
  color: inherit;
  text-decoration-color: var(--text-light);
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}
@media (prefers-color-scheme: dark) {
  a { color: var(--primary); }
}
a:hover {
  color: var(--primary);
  text-decoration-color: var(--primary);
}
a:active:focus {
  outline: none;
}



/* Layout */
.centered {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width-small);
  padding-left: 1rem;
  padding-right: 1rem;
}



/* Header */
#header {
  font-size: 0.9rem;
  margin-bottom: var(--gap);
  padding: 1rem;
}
.header-name {
  align-items: center;
  color: inherit !important;
  display: inline-flex;
  text-decoration: none !important;
}
.header-name > img {
  border-radius: 2rem;
  display: none;
  margin-right: 0.5rem;
  width: 2rem;
}
.header-name > h1 {
  font-size: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  margin: 0;
}
.header-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-nav > li {
  display: inline-flex;
  margin-right: 0.5rem;
}
.header-nav > li > span {
  align-self: flex-start;
  font-size: 0.6rem;
  user-select: none;
  padding-left: 0.1rem;
  pointer-events: none;
}
.header-nav > li > del {
  color: var(--text-light);
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}
@media screen and (min-width: 700px) {
  #header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .header-name {
    min-height: 2rem;
  }
  .header-name img {
    display: block;
  }
}


/* Footer */
#footer {
  font-size: 0.9rem;
  margin-top: 4rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
#footer > small {
  font-size: inherit;
}
.footer-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-nav > li {
  display: inline-flex;
  margin-right: 0.5rem;
}



/* Archives */
.archive-list {
  list-style: none;
  padding-left: 0;
}
.archive-list > li {
  margin: 0.5rem 0;
}
.archive-list > li > time {
  color: var(--text-medium);
  display: block;
  font-size: 0.9rem;
}
@media screen and (min-width: 700px) {
  .archive-list > li > a,
  .archive-list > li > time {
    display: inline-block;
    margin-right: 0.5rem;
  }
}



/* Post */
#post-header {
  margin-bottom: var(--gap);
}
#post-header > time {
  color: var(--text-medium);
}
#post-header > h1 {
  margin: auto;
}
#post-content > h1,
#post-content > h2,
#post-content > h3,
#post-content > p,
#post-content > ol,
#post-content > ul,
#post-content > blockquote,
#post-content > aside {
  margin: 1rem auto;
  max-width: var(--max-width-small);
  padding-left: 1rem;
  padding-right: 1rem;
}
#post-content > h1,
#post-content > h2,
#post-content > h3 {
  margin-top: var(--gap);
}
#post-content > ol,
#post-content > ul {
  padding-left: var(--gap);
}
#post-content > figure,
#post-content > pre {
  margin-bottom: var(--gap);
  margin-top: var(--gap);
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width-medium);
}
#post-content > figure > img {
  display: block;
  margin: auto;
  object-fit: contain;
}
#post-content > figure > img.bordered {
  border: 1px solid var(--text-light);
}
#post-content > figure > img + img {
  margin-top: 1rem;
}
#post-content > figure > figcaption {
  color: var(--text-medium);
  font-size: 0.8rem;
  margin-top: 0.5rem;
  text-align: center;
}
#post-content > blockquote {
  border-left: 1rem solid var(--background);
  border-right: 1rem solid var(--background);
  box-shadow: inset 1px 0 0 var(--text-light);
  color: var(--text-medium);
  font-style: italic;
  margin: 1.5rem auto;
  padding: 0 1.5rem;
}
#post-content > aside > p {
  border: 1px dashed var(--text-light);
  color: var(--text-medium);
  font-size: 0.9rem;
  font-style: italic;
  margin: 1.5rem auto;
  padding: 1rem;
}
@media (min-height: 30rem) {
  #post-content > figure > img {
    max-height: 100vh;
  }
}



/*************************************************
 * a11y-dark theme for JavaScript, CSS, and HTML *
 * @author ericwbailey                           *
 *************************************************/
code {
  font-family: var(--font-code);
  font-size: 0.9rem;
}
/* Inline code */
:not(pre) > code {
  background: var(--code-background);
  color: var(--code-text);
	padding: 0.1rem;
	white-space: normal;
}
/* Code blocks */
pre[class*="language-"] {
  background: var(--code-dark-background);
	color: var(--code-dark-text);
	hyphens: none;
	line-height: 1.4;
	overflow: auto;
	padding: 1rem;
	text-align: left;
	white-space: pre;
  width: 100%;
	word-break: normal;
	word-spacing: normal;
	word-wrap: normal;
}
.token.punctuation {
	color: rgba(255, 255, 255, 0.4);
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #5C6773;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #FFAE57;
}
.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted,
.token.boolean,
.token.number {
  color: #5CCFE6;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #BAE67E;
}
.token.atrule,
.token.attr-value,
.token.function,
.token.regex,
.token.important {
	color: #FFD700;
}
.token.keyword {
	color: #D4BFFF;
}
.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}
.token.entity {
	cursor: help;
}
@media screen and (-ms-high-contrast: active) {
	code[class*="language-"],
	pre[class*="language-"] {
		color: windowText;
		background: window;
	}
	:not(pre) > code[class*="language-"],
	pre[class*="language-"] {
		background: window;
	}
	.token.important {
		background: highlight;
		color: window;
		font-weight: normal;
	}
	.token.atrule,
	.token.attr-value,
	.token.function,
	.token.keyword,
	.token.operator,
	.token.selector {
		font-weight: bold;
	}
	.token.attr-value,
	.token.comment,
	.token.doctype,
	.token.function,
	.token.keyword,
	.token.operator,
	.token.property,
	.token.string {
		color: highlight;
	}
	.token.attr-value,
	.token.url {
		font-weight: normal;
	}
}
