/* Variables */
:root {
  --background: #fff;
  --text: #333;
  --text-medium: #555;
  --text-light: #ccc;
  --primary: #d61e23;
  --sans: -apple-system, BlinkMacSystemFont, Lato, Helvetica Neue, Arial, sans-serif;
  --serif: 'Source Serif', georgia, serif;
  --gutter-pad: 3.5rem;
  --max-width: 32rem;
}
@media screen and (prefers-color-scheme: dark) {
  :root {
    --background: #111;
    --text: #ddd;
    --text-medium: #aaa;
    --text-light: #666;
    --primary: #FB5B65;
  }
}



/* Variable Font */
@font-face {
  font-family: 'Source Serif';
  src: url('/font/SourceSerifVariable-Roman.otf.woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Serif';
  src: url('/font/SourceSerifVariable-Italic.otf.woff2');
  font-weight: normal;
  font-style: italic;
}



/* Mixins */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}



/* Base Styles */
*, *:before, *:after {
  box-sizing: border-box;
}
html {
  font-size: 20px;
  min-height: 100vh;
}
body {
  animation: fadeIn 250ms 250ms both;
  background-color: var(--background);
  color: var(--text);
  font-family: var(--serif);
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'liga', 'clig';
  font-variation-settings: 'wght' 400;
  line-height: 1.4;
  padding: 1rem;
  margin: 0;
  min-height: 100vh;
  text-rendering: optimizelegibility;
}
a {
  color: var(--primary);
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--sans);
  font-variation-settings: 'wght' 400;
}
h1 {
  font-size: 1.7rem;
  font-variation-settings: 'wght' 600;
  line-height: 1.1;
}
h2 {
  font-size: 1.3rem;
  font-variation-settings: 'wght' 600;
  line-height: 1.3;
}
h3 {
  font-size: 0.9rem;
  font-variation-settings: 'wght' 600;
  text-transform: uppercase;
}
img {
  max-width: 100%;
}
small {
  font-size: 0.8rem;
}



/* Layout */
main {
  margin-left: auto;
  margin-right: auto;
}
header {
  margin: 2.5rem auto 1.5rem;
}
header > h1 {
  margin: auto;
}
#footer,
#home-header,
#home-content,
#archives-header,
#archives-content,
#post-header {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}



/* Footer */
#footer {
  border-top: 1px solid var(--text-light);
  font-family: var(--sans);
  font-size: 0.9rem;
  margin-bottom: var(--gutter-pad);
  margin-top: calc(1.5 * var(--gutter-pad));
  padding-top: 1rem;
}
.footer-content > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-content > ul > li {
  display: inline-block;
  margin-right: 1rem;
}



/* Archive */
.archive-list {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
}
.archive-list > li {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 1rem;
}
.archive-list > li > time {
  color: var(--text-medium);
  display: block;
  font-family: var(--sans);
  font-feature-settings: 'tnum';
  font-size: 0.9rem;
}
@media (min-width: 800px) {
  .archive-list  > li {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    margin: 0;
  }
  .archive-list > li > time {
    min-width: 7rem;
  }
}



/* Post */
#post-header {
  margin-bottom: var(--gutter-pad);
}
#post-header > time {
  color: var(--text-medium);
  font-family: var(--sans);
  font-size: 0.9rem;
}
#post-content > h1,
#post-content > h2,
#post-content > h3,
#post-content > p,
#post-content > ol,
#post-content > ul,
#post-content > blockquote {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}
#post-content > h1,
#post-content > h2,
#post-content > h3 {
  margin: 2rem auto 1rem;
}
#post-content > figure,
#post-content > pre {
  margin-bottom: var(--gutter-pad);
  margin-top: var(--gutter-pad);
  margin-left: auto;
  margin-right: auto;
  max-height: 100vh;
  max-width: calc(12rem + var(--max-width));
}
#post-content > figure + figure {
  margin-top: -1.5rem;
}
#post-content > figure > img {
  display: block;
  margin: auto;
  max-height: 100vh;
  object-fit: cover;
}
#post-content > figure > img.bordered {
  border: 1px solid var(--text-light);
}
#post-content > blockquote {
  border-left: 1px solid var(--primary);
  color: var(--primary);
  font-style: italic;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  padding-left: 1.5rem;
}



/*************************************************
 * a11y-dark theme for JavaScript, CSS, and HTML *
 * @author ericwbailey                           *
 *************************************************/

code[class*="language-"],
pre[class*="language-"] {
	color: #f8f8f2;
  background: none;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 0.8rem;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.4;
	-moz-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1rem 1.25rem;
	overflow: auto;
  width: 100%;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: rgb(40, 44, 52);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: 0.1rem;
	border-radius: 0.1rem;
	white-space: normal;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #d4d0ab;
}
.token.punctuation {
	color: #fefefe;
}
.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #ffa07a;
}
.token.boolean,
.token.number {
	color: #00e0e0;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #abe338;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #00e0e0;
}
.token.atrule,
.token.attr-value,
.token.function {
	color: #ffd700;
}
.token.keyword {
	color: #00e0e0;
}
.token.regex,
.token.important {
	color: #ffd700;
}
.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}
.token.entity {
	cursor: help;
}
@media screen and (-ms-high-contrast: active) {
	code[class*="language-"],
	pre[class*="language-"] {
		color: windowText;
		background: window;
	}
	:not(pre) > code[class*="language-"],
	pre[class*="language-"] {
		background: window;
	}
	.token.important {
		background: highlight;
		color: window;
		font-weight: normal;
	}
	.token.atrule,
	.token.attr-value,
	.token.function,
	.token.keyword,
	.token.operator,
	.token.selector {
		font-weight: bold;
	}
	.token.attr-value,
	.token.comment,
	.token.doctype,
	.token.function,
	.token.keyword,
	.token.operator,
	.token.property,
	.token.string {
		color: highlight;
	}
	.token.attr-value,
	.token.url {
		font-weight: normal;
	}
}
