/* Variables */
:root {
  --font-mono: 'LG Mono', Monaco, monospace;
  --font-sans: 'LG', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  --gap-sm: 1.5rem;
  --gap-md: 3.5rem;
  --max-width-sm: 35rem;
  --max-width-md: 40rem;
  --max-width-lg: 50rem;

  --background: #fff;
  --border-color: rgba(0, 0, 0, 0.2);
  --code-background: #eee;
  --code-text: inherit;
  --code-dark-background: #282c34;
  --code-dark-text: #d6d5cc;
  --primary: rgba(0, 0, 205, 1);
  --primary-underline: rgba(0, 0, 205, 0.2);
  --text: rgba(0, 0, 0, 0.9);
  --text-medium: rgba(0, 0, 0, 0.6);
  --text-light: rgba(0, 0, 0, 0.3);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --border-color: rgba(255, 255, 255, 0.2);
    --code-background: var(--code-dark-background);
    --code-text: var(--code-dark-text);
    --code-dark-background: transparent;
    --primary: rgba(0, 185, 255, 1);
    --primary-underline: rgba(0, 185, 255, 0.5);
    --text: rgba(255, 255, 255, 0.9);
    --text-medium: rgba(255, 255, 255, 0.6);
    --text-light: rgba(255, 255, 255, 0.3);
  }
}



/* Fonts */
/* I still need to officially purchase these fonts, on my to-do list! */
@font-face {
  font-display: swap;
  font-family: 'LG';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/LG-Regular.woff2');
}
@font-face {
  font-display: swap;
  font-family: 'LG';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/LG-RegularItalic.woff2');
}
@font-face {
  font-display: swap;
  font-family: 'LG';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/LG-Bold.woff2');
}
@font-face {
  font-display: swap;
  font-family: 'LG';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/LG-BoldItalic.woff2');
}
@font-face {
  font-display: swap;
  font-family: 'LG Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/LG-mono.woff');
}



/* Base */
*, *:before, *:after {
  box-sizing: border-box;
}
*:focus {
  outline: 2px solid var(--primary);
}
html {
  font-size: 20px;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  text-rendering: optimizelegibility;
  -webkit-text-size-adjust: 100%;
}
body {
  background-color: var(--background);
  color: var(--text);
  font-family: var(--font-sans);
  font-feature-settings: 'liga', 'ss02', 'ss04';
  font-size: 1rem;
  font-variation-settings: 'wght' 400;
  font-weight: 400;
  line-height: var(--gap-sm);
  margin: auto;
  max-width: var(--max-width-lg);
  padding: 0 1rem;
}
h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-size: 1rem;
  font-variation-settings: 'wght' 600;
  font-weight: 600;
  line-height: 1.25;
  margin: auto;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
p {
  margin-bottom: var(--gap-sm);
  margin-top: var(--gap-sm);
}
a {
  color: var(--primary);
  text-decoration-color: var(--primary-underline);
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
}
a:hover {
  text-decoration-color: var(--primary);
}
img {
  max-width: 100%;
}
hr {
  background: var(--border-color);
  border: 0;
  height: 2px;
  margin: var(--gap-md) auto;
}



/* Layout */
main {
  padding: 8vh 0;
}



/* Home */
#home-main {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width-sm);
}
#home-header img {
  border-radius: 0.5rem;
  display: block;
  object-fit: cover;
}
#home-content {
  margin-bottom: var(--gap-md);
}
#home-content p:first-of-type {
  margin-top: 0;
}
#home-content p:first-of-type a {
  text-decoration: none;
}
#home-content p:last-of-type {
  margin-bottom: 0;
}



/* Print */
@media print {
  .do-not-print {
    display: none !important;
  }
  html {
    font-size: 12px !important;
  }
  body,
  main {
    margin-left: 0 !important;
    margin-right: 0 !important;
    max-width: 100% !important;
    padding: 0 !important;
    width: 100% !important;
  }
}
