/* Header */
#header {
  padding: var(--gap-sm) 0;
  text-align: center;
}



/* Footer */
#footer {
  font-size: 0.8rem;
  padding: var(--gap-md) 0;
  text-align: center;
}
#footer small {
  font-size: inherit;
}
.footer-nav {
  list-style: none;
  margin: auto;
  padding: 0;
}
.footer-nav li {
  display: inline-flex;
  white-space: nowrap
}
.footer-nav li:not(:last-of-type) {
  margin-right: 0.5rem;
}



/* Archives */
#archives-header {
  margin: auto auto var(--gap-sm);
  text-align: center;
}
.archive-list {
  list-style: none;
  margin: 1rem auto;
  padding: 0;
  text-align: center;
}
.archive-list li {
  margin: 1rem 0;
}
.archive-list time {
  color: var(--text-medium);
  display: block;
  font-size: 0.9rem;
}



/* Post */
#post-header {
  margin: auto auto var(--gap-md);
  text-align: center;
}
#post-header time {
  color: var(--text-medium);
}
#post-content > * {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width-sm);
}
#post-content > hr {
  width: 40%;
}
#post-content > h2 {
  margin-top: var(--gap-md);
}
#post-content > ol,
#post-content > ul {
  padding-left: var(--gap-sm);
}
#post-content > figure,
#post-content > video {
  margin: var(--gap-md) auto;
  max-width: 100%;
}
#post-content > figure img,
#post-content > figure > a {
  display: block;
  margin: auto;
  object-fit: contain;
}
#post-content > figure img {
  border-radius: 0.5rem;
}
@media (min-height: 40rem) {
  #post-content > figure img {
    max-height: 80vh;
  }
}
#post-content > figure img + img,
#post-content > figure > a + a {
  margin-top: 1rem;
}
#post-content > figure > figcaption {
  color: var(--text-medium);
  font-size: 0.8rem;
  margin-top: 0.5rem;
  padding: 0 2rem;
  text-align: center;
}
#post-content > dl > dd {
  float: left;
  font-weight: 600;
  margin: 0;
  padding: 0;
}



/* Post Nav */
#post-nav {
  margin: auto;
  max-width: var(--max-width-sm);
  padding: var(--gap-sm) 0;
}
.post-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.post-nav .previous {
  margin-right: auto;
}
.post-nav .next {
  margin-left: auto;
  text-align: right;
}
.post-nav span {
  display: block;
  font-size: 0.8rem;
  white-space: nowrap;
}



/* Code */
@media all {
  code {
    font-family: var(--font-mono);
  }
  :not(pre) > code {
    background: var(--code-background);
    color: var(--code-text);
    padding: 0.1rem;
    white-space: normal;
  }
  #post-content > pre[class*="language-"] {
    background: var(--code-dark-background);
    border-radius: 0.5rem;
    color: var(--code-dark-text);
    /* font-size: 0.9em; */
    hyphens: none;
    /* line-height: 1.4; */
    overflow: auto;
    padding: var(--gap-sm);
    text-align: left;
    white-space: pre;
    width: 100%;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
  }
  .token.punctuation {
    color: rgba(255, 255, 255, 0.4);
  }
  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: rgb(119, 129, 141);
  }
  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    color: #FFAE57;
  }
  .token.property,
  .token.tag,
  .token.constant,
  .token.symbol,
  .token.deleted,
  .token.boolean,
  .token.number {
    color: #5CCFE6;
  }
  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string,
  .token.variable {
    color: #BAE67E;
  }
  .token.atrule,
  .token.attr-value,
  .token.function,
  .token.regex,
  .token.important {
    color: #FFD700;
  }
  .token.keyword {
    color: #D4BFFF;
  }
  .token.important,
  .token.bold {
    font-weight: bold;
  }
  .token.italic {
    font-style: italic;
  }
  .token.entity {
    cursor: help;
  }
}



/* Print */
@media print {
  #post-header,
  #post-content > * {
    margin-left: 0 !important;
    margin-right: 0 !important;
    max-width: 100% !important;
    width: 100% !important;
  }
}
