{% extends 'layouts/base.njk' %}
{% set pageType = 'archives' %}

{% block header_content %}
  <meta name="robots" content="noindex">
  <link rel="stylesheet" href="/css/posts.css">
{% endblock %}

{% block content %}
  <header id="header">
    🚧 Area under-construction 🚧
  </header>

  <main>
    <header id="archives-header">
      <h1>{{ title }}</h1>
    </header>

    <section id="archives-content">
      <ul class="archive-list">
        {% for post in collections.all_posts %}
          <li>
            <a href="{{ post.url }}">{{ post.data.title }}</a>
            <time>{{ post.date | dateFilterShorthand }}</time>
          </li>
        {% endfor %}
      </ul>
    </section>
  </main>

  <footer id="footer">
    <nav class="do-not-print">
      <ul class="footer-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/posts">All posts</a></li>
        <li><a href="/feed.xml">RSS feed</a></li>
        <li><a href="#">Back to top</a></li>
      </ul>
    </nav>
    <small>Copyright © 2020 Matthew Lettini</small>
  </footer>
{% endblock %}
