<!doctype html>
<html lang="en">
  <head>
    <title>{% if pageType != 'home' %}{{ title }} • {% endif %}{{ site.authorName }}</title>
    <meta charset="utf-8">
    <meta name="robots" content="noindex"> {# To Be Deleted When Done #}
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="keywords" content="matthew lettini, matthew, mathew, matt, lettini, lentini, lettin, new york, nyc, ny, brooklyn, greenpoint, web, design, designer, product, html, css, harvest, forecast, amie street, songza, chosen, mlettini@gmail.com">
    <meta property="og:image" content="{{ site.url }}/img/matthew-lettini@2x.jpg">
    <meta property="og:site_name" content="{{ site.authorName }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.url }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="{{ site.url }}/img/matthew-lettini@2x.jpg">
    <meta name="twitter:site" content="{{ site.authorHandle }}">
    <meta name="twitter:title" content="{{ title }}">
    {% if description %}
    <meta description="{{ description }}">
    <meta property="og:description" content="{{ description }}">
    <meta name="twitter:description" content="{{ description }}">
    {% endif %}
    <link rel="icon" href="/images/matthew-lettini-header.jpg" type="image/png">
    <link rel="icon" href="/images/matthew-lettini-header.jpg" type="image/svg+xml">
    <link rel="mask-icon" href="/img/matthew-lettini-header.jpg" color="black">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="alternate" type="application/rss+xml" title="Posts" href="/feed.xml">
  </head>
  <body id="{{ pageType }}">

    <header id="header">
      <a href="/" class="header-name">
        <img src="/images/matthew-lettini-header.jpg" alt="">
        <h1>Matthew Lettini</h1>
      </a>
      <nav>
        <ul class="header-nav">
          <li><a href="/" {% if (pageType == 'home') %}class="selected"{% endif %}>Home</a></li>
          <li><a href="/posts" {% if (pageType == 'post') or (pageType == 'archives') %}class="selected"{% endif %}>Writing</a></li>
          <li><a href="http://photos.matthewlettini.com">Photos</a><span>↗</span></li>
          <li><del aria-label="In Progress" title="In Progress">Work</del></li>
          <li><del aria-label="In Progress" title="In Progress">About</del></li>
          <li><del aria-label="In Progress" title="In Progress">Social</del></li>
        </ul>
      </nav>
    </header>

    {% block content %}
    {% endblock content %}

    {% if (pageType == 'post') or (pageType == 'archives') %}
    <footer id="footer" class="centered">
      <nav>
        <ul class="footer-nav">
          <li><a href="#header">Back to top</a></li>
          <li><a href="/feed.xml">RSS feed</a></li>
          <li><a href="mlettini@gmail.com">Email</a></li>
        </ul>
      </nav>
      <small>© 2020</small>
    </footer>
    {% endif %}

  </body>
</html>
