{% extends 'layouts/base.njk' %}
{% set pageType = 'basecamp' %}

{% block header_content %}
  <meta name="robots" content="noindex">
  <link rel="stylesheet" href="/css/basecamp.css">
  <script type="text/javascript">
    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
  </script>
{% endblock %}

{% block content %}
  <section id="basecamp-intro">
    <div class="basecamp-logo">
      <img src="/images/matthew-lettini-header.jpg" alt="Matthew Lettini">
      +
      <svg width="37" height="33" viewBox="0 0 37 33" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.71001 17.73C4.32001 10.33 9.32001 1.73001 19.41 1.73001C29.5 1.73001 34.49 15 35.12 24C32.47 28.6 26.12 30.33 19.41 30.33C16.694 30.3742 14.0005 29.8316 11.5135 28.7391C9.02657 27.6466 6.80478 26.0301 5.00001 24C5.00001 24 8.16001 15.47 11.11 15.45C13.28 15.45 15.11 19.45 16.84 19.45C18.57 19.45 22.17 11.77 22.17 11.77" stroke="#1D2D35" stroke-width="3.41" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
    <p>Hey, I’m <strong>Matthew Lettini</strong>, a product designer working remotely from Brooklyn, NYC. This is my hastily put together application for the <strong>Senior Designer role at Basecamp</strong>. Welcome! 👋</p>
    <p>I’m very excited for this rare opportunity. Below you’ll find a page I made just for this application. If you haven’t read it yet, <a href="#basecamp-cover-letter" onclick="toggle_visibility('basecamp-cover-letter');">my cover letter</a> is where you  can learn more about me and why I’m applying for this job.</p><p> As I explain there, I’ve been employed by <a href="https://getharvest.com" target="_blank">Harvest</a> for more than a <em>decade</em>, and I wasn’t ready to apply anywhere when I learned you were hiring. Unfortunately, due to work obligations, I wasn’t able to deliver you a more complete portfolio earlier, but I’ll be adding detailed case studies for a few projects below over time.</p>
    <p>I’m happy to chat more about anything—my decade at Harvest, what I can bring to Basecamp, or my favorite D&amp;D class. Thank you very much for your time and consideration. You can contact me at <a href="mailto:mlettini@hey.com">mlettini@hey.com</a> or <tel>516-978-0881</tel>.</p>
  </section>

  <section id="basecamp-cover-letter" style="display:none">
    {{ content | safe }}
  </section>

  <hr id="work">

  <section id="basecamp-work-experience">
    <div class="basecamp-work-block">
      <time>2018–Today</time>
      <div>
        <h2>Harvest <span>(Senior Product Designer)</span></h2>
        <p>In 2018, Harvest made some big internal changes: implementing cycles, shuffling teams around, hiring new directors, adding OKRs, and other process shifts. My role has moved to senior, and alongside continuing to shape pitches and lead cycles, I also help mentor others on the product team.</p>
        <p>As mentioned, I plan to write more elaborate case studies for some of these, but here’s a list of things I worked on recently:</p>
        <ul>
          <li>
            Improved our multi-step welcome flow to better onboard new trials and remove friction in new account setup.
            <a href="/basecamp/welcome-flow" class="basecamp-work-link">
              👉 Read the full welcome flow case study
              <img src="/images/basecamp/wf-image-9.png" alt="">
            </a></li>
          <li>Audited and proposed a significant upgrade to Harvest’s inconsistent information architecture (IA).</li>
          <li>Added all new email and desktop notification reminders, to help customers prompt themselves to track time.</li>
          <li>Improved the cancellation flow to remove friction, and add a new exit survey to help us understand customer churn.</li>
          <li>Added an easier way for customers paying yearly to notice and remove unused paid seats.</li>
          <li>Small improvements to make recurring invoicing less manual.</li>
        </ul>
        <p><small><em>Note: You can also peruse <a href="https://blog.getharvest.com/author/matt-lettini/" target="_blank">my public Harvest blog posts</a> to see projects I’ve worked on, though my more recent work hasn’t ended up on the blog.</em></small></p>
      </div>
    </div>
    <div class="basecamp-work-block">
      <time>2013–2018</time>
      <div>
        <h2>Harvest Forecast <span>(Lead Product Designer)</span></h2>
        <p>In 2013, Harvest’s co-founders had an idea to build a sister service. While Harvest helps customers understand what their team is or was working on (the present and past), Forecast helps them visually plan and understand who will work on what and when (the future).</p>
        <p>I was the lead and sole designer for five years, and today over 68,000 people across 3400 teams are being scheduled in Forecast. Here are some highlight projects from this time:</p>
        <ul>
          <li>The 1.0 journey: Brought Forecast from back-of-napkin idea, to prototype, to closed beta, to public launch.</li>
          <li>Introduced the concept of scheduling placeholders when it’s unclear who should be assigned.</li>
          <li>Added support for scheduling on weekends (Saturday and Sunday) and other non-work days.</li>
          <li>Added new flexible filtering options to the schedule, so customers can more easily find what they need.</li>
          <li>Conceived and built all billing flows, such as upgrading to a paid plan, changing plans, discounts, and cancellation.</li>
          <li>Added Forecast assignments to Harvest project reports, so customers can track their estimates against their actuals.</li>
        </ul>
        <p><small><em>Note: You can also peruse old <a href="https://blog.getharvest.com/tag/forecast/" target="_blank">public Forecast blog posts</a>. Even if I didn’t write the post, chances are I worked on that update.</em></small></p>
      </div>
    </div>
    <div class="basecamp-work-block">
      <time>2010–2013</time>
      <div>
        <h2>Harvest <span>(Product Designer)</span></h2>
        <p>I started in October 2010. I think I got lucky because the co-founder and I connected over The Dismemberment Plan. My first assignments were major projects, and I quickly learned a lot collaborating with Shawn Liu. This was a critical time for my career, when I stopped designing for pure visual appeal and started considering the user experience and the customers using our service. Here are some highlight projects from this time:</p>
        <ul>
          <li>Designed the new Timesheet, the core component of Harvest.</li>
          <li>Designed an all new Reporting suite. They were faster and more reliable at offering insights into your business.</li>
          <li>The first version of our Mac desktop companion app. Helps customers track time in their day without needing a browser.</li>
          <li>The first in-house version of our iPhone mobile companion app. Helps customers track time and expenses on the go.</li>
          <li>Multiple iterations of our marketing homepage (getharvest.com).</li>
          <li>Helping design the <a href="https://harvesthq.github.io/chosen/" target="_blank">Chosen</a> javascript library to make long select boxes more user-friendly.</li>
        </ul>
      </div>
    </div>
    <div class="basecamp-work-block">
      <time>2006–2010</time>
      <div>
        <h2>Pre-Harvest <span>(Designer)</span></h2>
        <p>While it feels like a long time ago in a galaxy far, far away, I did have a few jobs before Harvest. My early career highlights include:</p>
        <ul>
          <li>Redesigned indie music startup AmieStreet, with a heavy emphasis on a unique payment model and new artists.</li>
          <li>Created multiple versions of a new Songza, which changed from internet radio, to community-based radio, to curated playlists.</li>
          <li>My first paid designer role was helping startup PeoplesMD create a community-powered database for treating and living with illnesses, diseases, and other ailments.</li>
          <li>Built and ran personal music blog The Heavy Edition for a few years. Garnered a few hundred followers at the time.</li>
          <li>Various freelance and contract gigs included building websites, brand identities, and even converting CSS to work with IE6.</li>
        </ul>
      </div>
    </div>
  </section>

  <hr>

  <section id="basecamp-skills">
    <div>
      <p><strong>Proficient</strong></p>
      <ul>
        <li>HTML &amp; CSS (&amp; BEM)</li>
        <li>Atomic styles and using design systems</li>
        <li>Working within Ruby on Rails</li>
        <li>Adobe Creative Suite</li>
        <li>Google Drive (Docs, Sheets, Slides)</li>
        <li>Whimsical and other diagramming tools</li>
        <li>Basecamp, Slack, Tuple, Whereby, Zoom, and other remote tools</li>
      </ul>
    </div>
    <div>
      <p><strong>Intermediate</strong></p>
      <ul>
        <li>Adobe XS, Figma, Sketch, and similar design tools</li>
        <li>Invision, Marvel, Principle, and other prototyping tools</li>
        <li>Chartmogul, Mode, and other data analysis tools</li>
        <li>Fully accessible code</li>
        <li>Leading internal design workshops</li>
      </ul>
    </div>
    <div>
      <p><strong>Still learning</strong></p>
      <ul>
        <li>Javascript</li>
        <li>Public speaking</li>
        <li>Public writing</li>
      </ul>
    </div>
  </section>

  <hr>

  <section id="basecamp-education">
    <div>
      <h2>B.J. Fogg’s Behavior Design Boot Camp</h2>
      <p>Completed 4 week training course in September 2020, learning how to effectively teach and use the Fogg Behavior Model in product development and design thinking.</p>
    </div>
    <div>
      <h2>Hofstra University</h2>
      <p>Graduated 2008 magna cum laude (3.8 GPA). Received Bachelor of Arts degree for Communications with a minor in Design. Provost scholar recipient.</p>
    </div>
  </section>

  <hr>

  <section>
    <small>
      <a href="#">&uarr; Back to top</a><br>
      <a href="/">Leave this application and go to my main homepage</a>
    </small>
  </section>
{% endblock %}
