<!doctype html>
<html lang="en">
  <head>
    <title>{{ site.authorName }} • {% if pageType != 'home' %}{{ title }}{% else %}Home{% endif %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="keywords" content="matthew lettini, matthew, mathew, matt, lettini, lentini, lettin, new york, nyc, ny, brooklyn, greenpoint, web, design, designer, product, html, css, harvest, forecast, amie street, songza, chosen, mlettini@gmail.com">
    <meta property="og:image" content="{{ site.url }}/img/matthew-lettini@2x.jpg">
    <meta property="og:site_name" content="{{ site.authorName }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.url }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="{{ site.url }}/img/matthew-lettini@2x.jpg">
    <meta name="twitter:site" content="{{ site.authorHandle }}">
    <meta name="twitter:title" content="{{ title }}">
    {% if description %}
    <meta description="{{ description }}">
    <meta property="og:description" content="{{ description }}">
    <meta name="twitter:description" content="{{ description }}">
    {% endif %}
    {#
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="mask-icon" href="/favicon.svg" color="black">
    #}
    <link rel="stylesheet" href="/css/main.css">
    <link rel="alternate" type="application/rss+xml" title="Posts" href="/feed.xml">
  </head>
  <body id="{{ pageType }}">

    {#
    {% if pageType == 'home' %}
      <img id="headshot" src="/img/matthew-lettini@2x.jpg" alt="Headshot of {{ site.authorName }}">
    {% else %}
      <header id="logo" role="banner">
        <a href="/">{{ site.authorName }}</a>
      </header>
    {% endif %}
    #}

    {% block content %}
    {% endblock content %}

  </body>
</html>
