{% extends 'layouts/base.njk' %}
{% set pageType = 'post' %}

{% block header_content %}
  <meta name="robots" content="noindex">
  <link rel="stylesheet" href="/css/basecamp.css">
{% endblock %}

{% block content %}
  <header id="header">
    <a href="/basecamp">← Back to application</a>
  </header>

  <main>
    <article>
      <header id="post-header">
        <time>{{ released }}</time>
        <h1 class="m-auto">{{ title }}</h1>
      </header>

      <section id="post-content">
        {{ content | safe }}
      </section>
    </article>
  </main>

  <footer id="footer">
    <a href="/basecamp">← Back to application</a>
  </footer>
{% endblock %}
