{% extends 'layouts/base.njk' %}
{% set pageType = 'basecamp' %}

{% block header_content %}
  <meta name="robots" content="noindex">
{% endblock %}

{% block content %}
  <section id="basecamp-intro">
    <p>👋 Hey, I’m <strong>Matthew Lettini</strong>, a product designer working remotely from Brooklyn, NYC. You must be from <strong>Basecamp</strong> and reviewing my work. I’m excited to apply for the Senior Designer role! You can <a href="#basecamp-cover-letter">read my cover letter</a> for a bit more background on me and why I’m applying for the job, or <a href="#basecamp-work-experience">jump right into my projects</a>.</p>
    <p>As mentioned in my cover letter, this is a rather hastily put together and short resume + portfolio, just for this application. It’s unusual in this industry but I don’t prefer to jump from job to job. In fact, I just hit a decade at <a href="https://getharvest.com" target="_blank">Harvest</a>(!), so I didn’t have something ready to go when the role landed in my imbox. That said, I’ve hopefully still show-cased my work, my abilities, and myself.</p>
    <p>I’m happy to chat more about anything—my history at the company, my projects, or what I can bring to the role. You can contact me at <a href="mailto:mlettini@hey.com">mlettini@hey.com</a> or <tel>516-978-0881</tel>. Thank you very much for your time and consideration.</p>
  </section>

  <hr>

  <section id="basecamp-work-experience">
    <h1>Work Experience</h1>
    <p>
      <em>
        Note: You can also peruse
        <a href="https://blog.getharvest.com/author/matt-lettini/" target="_blank">public Harvest blog posts</a>
        I’ve written.<br>
        If I wrote the post, I worked on that thing.
      </em>
    </p>
    <div class="basecamp-work-block">
      <time>2018–Present</time>
      <div>
        <h2>Harvest <span>· Senior Product Designer</span></h2>
        <p>In 2018, Harvest shuffled things around by pulling resources out of Forecast and re-focusing on our core product. The team underwent some large changes in these two years, like implementing cycles, hiring new directors, adding OKRs, and other process shifts.</p>
        <p>My role moved to senior, and alongside continuing to shape pitches and lead cycles, I also helped mentor others on the product team. Projects from this time are short but numerous. Here are some detailed case studies:</p>
        <ul class="basecamp-case-study-links">
          <li><a href="#">Improving our multi-step welcome flow to better onboard new trials, and help them jump into a new Harvest account with ease.</a></li>
          <li><a href="#">Auditing and proposed a significant upgrade to Harvest’s inconsistent information architecture (IA).</a></li>
        </ul>
        <p>Other major projects from this time include:</p>
        <ul>
          <li>Added all new email and desktop notification reminders, to help customers prompt themselves to track time.</li>
          <li>Improved cancellation flow with a new exit survey, to help us understand why customers churn, and remove friction from the cancellation experience.</li>
          <li>Added an easier way for yearly accounts to notice and remove unused paid seats, to help prevent the headache of issuing refunds.</li>
          <li>Small improvements to make recurring invoicing less manual.</li>
        </ul>
      </div>
    </div>
    <div class="basecamp-work-block">
      <time>2013–2018</time>
      <div>
        <h2>Harvest Forecast <span>· Lead Product Designer</span></h2>
        <p>In 2013, Harvest’s co-founders had an idea to build a sister service. While Harvest helps customers understand what their team is or was working on (the present and past), Forecast helps them visually plan and understand who will work on what and when (the future).</p>
        <p>I was the lead and sole designer of Forecast for five years, and today over 68,000 people across 3400 teams are being scheduled in the app. Here are some detailed case studies:</p>
        <ul class="basecamp-case-study-links">
          <li><a href="#">The journey: Taking Forecast from back-of-napkin idea, to prototype, to closed beta, to v1.0 launch.</a></li>
          <li><a href="#">Introducing the concept of scheduling placeholders when the assignment is unclear.</a></li>
        </ul>
        <p>Other major projects from this time include:</p>
        <ul>
          <li>Added weekends and support for scheduling on other non-work days.</li>
          <li>Added new flexible filtering options for the schedule, so customers can more easily find what they need.</li>
          <li>Conceived and built all billing flows, such as upgrading to a paid plan, changing plans, discounts, and cancellation.</li>
          <li>Added Forecast assignments to Harvest project reports, so customers can track their estimates against their actuals.</li>
        </ul>
      </div>
    </div>
    <div class="basecamp-work-block">
      <time>2010–2013</time>
      <div>
        <h2>Harvest <span>· Product Designer</span></h2>
        <p>I started at Harvest in October 2010. I think I got lucky because the co-founder and I connected over The Dismemberment Plan. My first assignments were major projects, and I quickly learned a lot collaborating with Shawn Liu.</p>
        <p>This was a critical time for my career, where I stopped designing for pure visual attraction and started considering user experience and the customers using our service.</p>
        <p>Major projects from this time include:</p>
        <ul>
          <li>An all new Timesheet, the core component of Harvest.</li>
          <li>All new Reporting suite. They were faster and more reliable at offering insights into your business.</li>
          <li>Multiple iterations of our marketing homepage (getharvest.com).</li>
          <li>The first version of our Mac desktop companion app. Helps customers track time in their day without needing a browser.</li>
          <li>The first in-house version of our iPhone mobile companion app. Helps customers track time and expenses on the go.</li>
        </ul>
      </div>
    </div>
    <div class="basecamp-work-block">
      <time>2006–2010</time>
      <div>
        <h2>Pre-Harvest <span>· Designer</span></h2>
        <p>While it feels like a long time ago in a galaxy far, far away, I did have a few jobs before Harvest. My early career highlights include:</p>
        <ul>
          <li>Redesigned indie music startup AmieStreet, with a heavy emphasis on a unique payment model and new artists.</li>
          <li>Created multiple versions of a new Songza, which changed from internet radio, to community-based radio, to curated playlists.</li>
          <li>My first paid designer role was helping startup PeoplesMD create a community-powered database around treating and living with illnesses, diseases, and other ailments.</li>
          <li>Built a ran personal music blog The Heavy Edition for a few years. Garnered a few hundred followers at the time.</li>
          <li>Various freelance and contract gigs included building websites, brand identities, and even converting CSS to work with IE6.</li>
        </ul>
      </div>
    </div>
  </section>

  <hr>

  <section id="basecamp-education">
    <h1>Education</h1>
    <div class="basecamp-work-block">
      <time>September 2020</time>
      <div>
        <h2>Behavior Design Boot Camp</h2>
        <p>Completed 4 week online training course to effectively teach and use the B.J. Fogg Behavior Model in product development and design thinking.</p>
      </div>
    </div>
    <div class="basecamp-work-block">
      <time>2004–2008</time>
      <div>
        <h2>Hofstra University</h2>
        <p>Graduated magna cum laude (3.8 GPA). Received Bachelor of Arts degree for Communications with a minor in Design. Provost scholar recipient.</p>
      </div>
    </div>
  </section>

  <hr>

  <section id="basecamp-skills">
    <h1>Technical Skills</h1>
    <div class="basecamp-work-block">
      <p><strong>Proficient:</strong></p>
      <ul>
        <li>HTML</li>
        <li>CSS (and BEM)</li>
        <li>Working within Ruby on Rails</li>
        <li>Atomic styles and using design systems</li>
        <li>Adobe Creative Suite</li>
        <li>Whimsical and other diagramming tools</li>
      </ul>
      <p><strong>Some experience:</strong></p>
      <ul>
        <li>Sketch, Figma, Adobe XS, and similar tools</li>
        <li>Indesign and other prototyping tools</li>
        <li>Fully accessible code</li>
        <li>Data analysis tools like Mode and Chartmogul</li>
        <li>Leading internal design workshops</li>
      </ul>
      <p><strong>Could use more:</strong></p>
      <ul>
        <li>Javascript</li>
        <li>Public speaking</li>
        <li>Public writing</li>
      </ul>
    </div>
  </section>

  <hr>

  <section>
    <h1>Cover Letter</h1>
    <div id="basecamp-cover-letter">
      {{ content | safe }}
    </div>
  </section>
{% endblock %}
