{% extends 'layouts/base.njk' %}
{% set pageType = 'blank' %}

{% block content %}
  <main>
    <header id="blank-header">
      <h1>{{ title }}</h1>
    </header>

    <section id="blank-content">
      {{ content | safe }}
    </section>
  </main>
{% endblock content %}
