{% extends 'layouts/base.njk' %}
{% set pageType = 'home' %}

{% block content %}
  <main>
    {#
    <header id="home-header" class="centered">
      <h1>{{ site.authorName }}</h1>
    </header>
    #}

    <section id="home-content" class="centered">
      {{ content | safe }}

      {#
      <ul id="recent-posts" class="posts">
        {% for post in collections.recent_posts %}
          <li>
            <h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
            <small>{{ post.date | dateFilter }}</small>
          </li>
        {% endfor %}
      </ul>

      <a href="/posts" id="view-all">View all posts</a>
      #}
    </section>
  </main>
{% endblock %}
