{% extends 'layouts/base.njk' %}
{% set pageType = 'home' %}

{% block content %}
  <main id="content">
    <h1 id="headline">Hey, I’m {{ site.authorName }}.</h1>
    <p>This website is under-construction (insert gif). All the posts below are written by my pal <a href="https://iamdanielmarino.com" target="_blank" rel="noopener">Daniel</a>, who is helping me figure out Eleventy.</p>

    <ul id="recent-posts" class="posts">
      {% for post in collections.recent_posts %}
        <li>
          <h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
          <small>{{ post.date | dateFilter }}</small>
        </li>
      {% endfor %}
    </ul>

    <a href="/posts" id="view-all">View all posts</a>
  </main>
{% endblock %}
