{% extends 'layouts/base.njk' %}
{% set pageType = 'post' %}

{% block content %}
  <main>
    <article>
      <header id="post-header" class="centered">
        <time>{{ date | dateFilter }}</time>
        <h1>{{ title }}</h1>
      </header>

      <section id="post-content">
        {{ content | safe }}
      </section>
    </article>
  </main>
{% endblock content %}
