{% extends 'layouts/base.njk' %}
{% set pageType = 'post' %}

{% block content %}
  <header id="header">
    🚧 Area under-construction 🚧
  </header>

  <main>
    <article>
      <header id="post-header" class="small-centered">
        <time>{{ date | dateFilter }}</time>
        <h1 class="m-auto">{{ title }}</h1>
      </header>

      <section id="post-content">
        {{ content | safe }}
      </section>
    </article>
  </main>

  <section id="post-nav">
    <nav>
      <ul class="post-nav">
        {% if prevPost.url %}
          <li class="previous">
            <span>&larr; Older post</span>
            <a class="previous" href="{{ prevPost.url }}">{{ prevPost.data.title }}</a>
          </li>
        {% endif %}
        {% if nextPost.url %}
          <li class="next">
            <span>Newer post &rarr;</span>
            <a class="next" href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </section>

  <footer id="footer">
    <nav>
      <ul class="footer-nav">
        <li>Copyright © 2020</li>
        <li><a href="/">Home</a></li>
        <li><a href="/posts">All posts</a></li>
        <li><a href="/feed.xml">RSS feed</a></li>
        <li><a href="#">Back to top</a></li>
      </ul>
    </nav>
  </footer>
{% endblock %}
