{% extends 'layouts/base.njk' %}
{% set pageType = 'post' %}

{% block header_content %}
  <meta name="robots" content="noindex">
  <link rel="stylesheet" href="/css/post.css">
{% endblock %}

{% block content %}
  <header id="post-header">
    <div class="inner">
      <h2>{{ title }}</h2>
      <time>{{ date | dateFilter }}</time>
    </div>
  </header>

  <section class="post">
    {{ content | safe }}
  </section>

  <section id="post-nav" class="do-not-print">
    <nav class="inner">
      <ul class="post-nav">
        {% if prevPost.url %}
          <li class="previous">
            <span>&larr; Older</span>
            <a class="previous" href="{{ prevPost.url }}">{{ prevPost.data.title }}</a>
          </li>
        {% endif %}
        {% if nextPost.url %}
          <li class="next">
            <span>Newer &rarr;</span>
            <a class="next" href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </section>
{% endblock %}
