{% extends 'layouts/base.njk' %}
{% set pageType = 'resume' %}

{% block content %}
  <main class="small-centered">
    <header id="resume-header">
      <h1>{{ site.authorName }}</h1>
    </header>

    <section id="resume-content">
      {{ content | safe }}
    </section>
  </main>
{% endblock content %}
