{% extends 'layouts/base.njk' %}

{% block header_content %}
  <meta name="robots" content="noindex">
{% endblock %}

{% block content %}
  <section>
    <div class="inner">
      <h1>Work</h1>
      {{ content | safe }}

      <ol class="project-list">
        {% for post in collections.work %}
          <li>
            <a href="{{ post.url }}" class="project">
              <div>
                <h2>{#% if post.data.company == 'Harvest' %}Harvest {% endif %#}{{ post.data.title }}</h2>
                <span>{{ post.data.subtitle }}</span>
              </div>
              {# <img src="{{ post.data.image }}" alt=""> #}
            </a>
          </li>
        {% endfor %}
      </ol>
    </div>
  </section>
{% endblock %}
