{% extends 'layouts/base.njk' %}

{% block content %}
  <h1>
    Hey <span class="wave">👋</span> I’m Matthew. I’m a Brooklyn-based 🗽 product designer-who-codes 👨🏻‍💻 that’s been building, improving, and shipping 🚀 quality user experiences for over 15 years.
  </h1>

  <p>
    My goal is to make life easier for people, one pixel at a time. I’ve been doing this at <a href="https://www.getharvest.com/blog/author/matthew-lettini" target="_blank" rel="noopener">Harvest</a> for over a decade now, designing world-class time tracking software alongside a world-class team.
  </p>

  <p>
    In that time I’ve worked on just about everything—core timesheet and reporting functionality, all new products and apps, big feature flows, small UX & UI iterations, the design system, and even swag. {# Here’s just a brief selection of things I helped bring to life in my career: #}
  </p>
  {#
  <ol class="project-list">
    {% for post in collections.harvest_work %}
      <li>
        <a href="{{ post.url }}" class="project">
          {# <img src="{{ post.data.image }}" alt="">
          {{ post.data.title }}<br>
          {# <small>{{ post.data.subtitle }}</small>
        </a>
      </li>
    {% endfor %}
  </ol>
   #}

  <p>
    While I primarily design solutions to meaningful problems, I excel as a generalist, blurring the line between product designer and product manager. I tend to wear many hats, including project manager, team lead, strategist, researcher, data analyst, and a million things in between.
  </p>

  <p>
    Beyond the desk I’m a <a href="https://www.instagram.com/p/CXeYImOFqui" target="_blank" rel="noopener">new puppy</a> dad-in-training, an out-of-practice musician, and an avid gamer always ready to min-max a new D&D character. I love hiking, basketball, karaoke, the oxford comma, and a good cognac. You can find me @mlettini in most places on the internet.
  </p>

  {{ content | safe }}

{% endblock %}
