/* Variables */
:root {
  --bg:      #fafafa;
  --text:    #333;
  --text-lt: #777;
  --color:   blue;

  --font-mono:  'LG Mono', Monaco, monospace;
  --font-sans:  'LG', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  --line-height: 1.4em;

  --clamp-sm: clamp(2rem, 4vw, 4rem);
  --clamp-lg: clamp(3rem, 4vw, 4rem);

  --max-width-sm: 36rem;
  --max-width-lg: 44rem;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg:      #111;
    --text:    #ccc;
    --text-lt: #888;
    --color:   hotpink;
  }
}



/* Lab Grotesque Font */
@font-face {
  font-display: swap;
  font-family: 'LG';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/LG-Regular.woff2');
}
@font-face {
  font-display: swap;
  font-family: 'LG';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/LG-RegularItalic.woff2');
}
@font-face {
  font-display: swap;
  font-family: 'LG';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/LG-Bold.woff2');
}
@font-face {
  font-display: swap;
  font-family: 'LG';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/LG-BoldItalic.woff2');
}
@font-face {
  font-display: swap;
  font-family: 'LG Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/LG-mono.woff');
}



/* Base */
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  overflow-wrap: break-word;
}
html {
  font-size: 20px;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
@media (min-width: 1800px) {
  html {
    font-size: 24px;
  }
}
@media print {
  html {
    font-size: 14px !important;
  }
  .do-not-print {
    display: none !important;
  }
}
body {
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--font-sans);
  font-size: 1rem;
  font-weight: 400;
  line-height: var(--line-height);
  margin: 0;
  padding: 0 1rem;
}
h1, h2, h3, h4, h5, h6 {
  color: var(--text);
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: var(--line-height);
  margin: 0;
}
p {
  margin: 1rem 0;
}
ol, ul {
  margin: 1rem 0;
  padding: 0 0 0 2rem;
}
a {
  color: inherit;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  transition: 50ms;
}
@media (pointer: fine) {
a:hover {
  color: var(--color);
  }
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
hr {
  border-color: var(--text);
  border-width: 1px 0 0;
  margin-bottom: var(--line-height);
  margin-top: var(--line-height);
  opacity: 0.5;
}



/* Layout */
main,
section {
  margin: var(--clamp-lg) auto;
  max-width: var(--max-width-lg);
}
#base-header {
  margin: var(--clamp-sm) auto;
  max-width: var(--max-width-sm);
}
.inner {
  margin: auto;
  max-width: var(--max-width-sm);
}
#base-footer {
  margin: var(--clamp-sm) auto;
  max-width: var(--max-width-sm);
}



/* Header */
#base-header {
  display: flex;
  flex-direction: column;
}
@media (min-width: 330px) {
  #base-header {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}
#base-header ul {
  color: var(--text-lt);
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
#base-header a {
  text-decoration: none;
}
#base-header a.selected {
  color: var(--text) !important;
}



/* Footer */
#connect {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  position: relative;
}
#connect svg {
  height: 1.2rem;
  width: 1.2rem;
}
@media (pointer: fine) {
  #connect a::before {
    bottom: 1.2rem;
    color: var(--color);
    content: attr(data-label);
    font-size: 0.8em;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transition: 50ms;
    user-select: none;
  }
  #connect a:hover::before {
    opacity: 1;
    pointer-events: auto;
  }
}




/* About */
.portrait {
  border-radius: 0.5rem;
  height: 100%;
  margin-bottom: var(--line-height);
  margin-top: var(--line-height);
  width: 100%;
}



/* Work */
#work {
  list-style: none;
}
