/* Variables */
:root {
  --bg:      #fafafa;
  --border:  #bbb;
  --img-bg:  #eee;
  --text:    #333;
  --text-lt: #888;
  --color:   blue;

  --font-mono:  'LG Mono', Monaco, monospace;
  --font-sans:  'LG', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  --line-height: 1.5em;

  --clamp-sm: clamp(2rem, 4vw, 4rem);
  --clamp-lg: clamp(3rem, 8vw, 5rem);

  --max-width-sm: 35rem;
  --max-width-lg: 55rem;

  --transition: 100ms;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg:      #111;
    --border:  #444;
    --img-bg:  #888;
    --text:    #ccc;
    --color:   hotpink;
  }
}



/* Lab Grotesque Font */
@font-face {
  font-display: swap;
  font-family: 'LG';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/LG-Regular.woff2');
}
@font-face {
  font-display: swap;
  font-family: 'LG';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/LG-RegularItalic.woff2');
}
@font-face {
  font-display: swap;
  font-family: 'LG';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/LG-Bold.woff2');
}
@font-face {
  font-display: swap;
  font-family: 'LG';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/LG-BoldItalic.woff2');
}
@font-face {
  font-display: swap;
  font-family: 'LG Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/LG-mono.woff');
}



/* Base */
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  overflow-wrap: break-word;
}
html {
  font-size: 20px;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
@media (min-width: 110rem) {
  html {
    font-size: 22px;
  }
}
@media print {
  html {
    font-size: 14px !important;
  }
  .do-not-print {
    display: none !important;
  }
}
body {
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--font-sans);
  font-size: 1rem;
  font-weight: 400;
  line-height: var(--line-height);
  margin: 0;
  padding: 0 1rem;
}
h1, h2, h3, h4, h5, h6 {
  color: var(--text);
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: var(--line-height);
  margin: 0;
}
h1 {
  font-size: 1.5rem;
  line-height: 1.2;
}
@media (min-width: 35rem) {
  h1 {
    font-size: 2rem;
    line-height: 1.1;
  }
}
p {
  margin: 1rem 0;
}
ol, ul {
  margin: 1.5rem 0;
  padding: 0 0 0 2rem;
}
li {
  margin: 0.5rem 0;
}
a {
  color: inherit;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}
@media (pointer: fine) {
  a:hover {
    color: var(--color);
  }
}
img, picture, video, svg {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
hr {
  border-color: var(--border);
  border-style: solid;
  border-width: 1px 0 0;
  margin: var(--clamp-sm) auto;
}



/* Layout */
.base-header,
.base-footer {
  margin: var(--clamp-sm) auto;
  max-width: var(--max-width-sm);
}
main,
section {
  margin: var(--clamp-lg) auto;
  max-width: var(--max-width-lg);
}
.inner {
  margin: auto;
  max-width: var(--max-width-sm);
}



/* Header */
.base-header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.base-header h1 {
  margin-right: 1rem;
}
.base-header ul {
  color: var(--text-lt);
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.base-header li {
  margin: 0;
}
.base-header a {
  text-decoration: none;
}
.base-header a.selected {
  color: var(--text) !important;
}



/* Homepage */
.portrait {
  margin-bottom: 1.5rem;
}



/* Work List */
.project-list {
  list-style: none;
  margin-top: 2rem;
  padding: 0;
}
.project-list li {
  margin: 0 0 -1px;
}
.project {
  align-items: center;
  border-bottom: 1px solid var(--border);
  border-top: 1px solid var(--border);
  display: flex;
  font-size: 0.9em;
  gap: 1rem;
  justify-content: space-between;
  height: 100%;
  line-height: var(--line-height);
  padding: 1.5rem 0;
  position: relative;
  text-decoration: none;
}
@media (min-width: 40rem) {
  .project {
    padding: 1.5rem 1rem;
  }
}
.project h3 {
  color: inherit;
  font-size: 1.2rem;
  margin-bottom: 0.1em;
}
.project::after {
  content: "→";
  transition: var(--transition);
}
.project:not(:hover) span {
  color: var(--text-lt);
}
@media (pointer: fine) {
  .project:hover {
    border-color: var(--color);
    color: var(--color);
    z-index: 1;
  }
  .project:hover::after {
    transform: translateX(5px)
  }
}



/* Post */
.post-header h2,
.post-header time {
  color: var(--text-lt);
  display: block;
  padding-top: 0.25em;
}
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  font-weight: 600;
  margin-top: calc(var(--line-height) * 2);
}
figure {
  margin: var(--clamp-sm) auto;
}
figure div:nth-of-type(even),
figure img:nth-of-type(even),
figure video:nth-of-type(even) {
  margin: 0.5rem auto 0;
}
@media (min-height: 30rem) {
  figure img {
    max-height: 95vh;
  }
}
figcaption {
  color: var(--text-lt);
  font-size: 0.75em;;
  line-height: var(--line-height);
  margin-top: 0.2em;
  text-align: right;
}
img.shadowed {
  box-shadow: 0 0.5rem 0.75rem -0.25rem rgba(0, 0, 0, 0.3);
  margin-bottom: 0.5rem;
}
@media (min-width: 35rem) {
  div.bordered {
    background: var(--img-bg);
    padding: var(--clamp-sm);
  }
  div.bordered img {
    margin: 0;
  }
}
@media (min-width: 50rem) {
  .two-up {
    align-items: flex-start;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }
  .two-up div,
  .two-up img,
  .two-up video {
    margin: auto !important;
  }
}



/* Post Nav */
.back {
  align-items: center;
  border: 1px solid var(--text);
  border-radius: 2rem;
  display: inline-flex;
  gap: 0.5rem;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
}
.back::before {
  content: "←";
  transition: var(--transition);
}
@media (pointer: fine) {
  .back:hover {
    border-color: var(--color);
  }
  .back:hover::before {
    transform: translateX(-4px);
  }
}
.post-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.post-nav .previous {
  margin-right: auto;
}
.post-nav .next {
  margin-left: auto;
  text-align: right;
}
.post-nav span {
  color: var(--text-lt);
  display: block;
  font-size: 0.75em;;
  line-height: var(--line-height);
  white-space: nowrap;
}



/* Footer */
.connect {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  padding: 0;
  position: relative;
}
.connect li {
  margin: 0;
}
.connect a {
  display: block;
}
.connect svg {
  height: 1.2rem;
  width: 1.2rem;
}
@media (pointer: fine) {
  .connect a::before {
    bottom: 1.2rem;
    color: var(--color);
    content: attr(data-label);;
    font-size: 0.75em;;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transform: translateY(5px);
    transition: var(--transition);
    user-select: none;
    white-space: nowrap;
  }
  .connect a:hover::before {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }
}
