:root {
  --color-txt: #222;
  --color-txt-light: #888;
  --color-border: #d4d4d4;

  --color-bg-app: #f6f6f6;
  --color-bg-post: #fff;
  --color-bg-meta: #f6f6f6;

  --color-shadow-warm: rgba(160, 160, 160, 0.1);

  --font-family: system-ui, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-txt: #eee;
    --color-txt-light: #777;
    --color-border: #333;

    --color-bg-app: #111;
    --color-bg-post: #222;
    --color-bg-meta: #1a1a1a;
  }
  html {
    -webkit-font-smoothing: antialiased;
  }
}



/* Base */
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  overflow-wrap: break-word;
  padding: 0;
}
html {
  background: var(--color-bg-app);
  font-size: 15px;
  height: 100%;
  overflow: auto;
}
body {
  color: var(--color-txt);
  font-family: var(--font-family);
  font-size: 1rem;
  line-height: 1.5;
  margin: auto;
  min-height: 100%;
  padding: 0;
}
a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}
a:active {
  transform: translateY(1px);
}
h1 {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.1;
}
h2 {
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 1.2;
}
.fa-chevron-down {
  font-size: 0.7em;
  margin: -2px 0 0 2px;
  vertical-align: middle;
}



/* Layout */

aside {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  padding: 15px;
  text-align: right;
}
aside .avatar {
  aspect-ratio: 1 / 1;
  border-radius: 30px;
  display: inline-block;
  height: 30px;
  vertical-align: middle;
  width: 30px;
}

header {
  margin: 30px 15px;
  text-align: center;
}

main {
  margin: auto;
  max-width: 70ch;
  padding: 10px;
}

nav ul {
}

.filter-bar {
  border-bottom: 1px solid var(--color-border);
  margin-bottom: 20px;
}
.filter-bar ul {
  display: flex;
  gap: 15px;
  list-style: none;
  margin: 0 0 -1px;
  padding: 0;
}
.filter-bar ul a {
  border-bottom: 2px solid transparent;
  color: var(--color-txt-light);
  display: block;
  padding: 10px 5px;
}
.filter-bar ul a:hover {
  border-color: var(--color-txt-light);
  text-decoration: none;
}
.filter-bar ul a.selected {
  border-color: var(--color-txt);
  color: var(--color-txt);
  cursor: default;
  font-weight: 700;
}
.filter-bar ul a:active {
  border-bottom-width: 1px;
}

.discussions-list ul {
  list-style: none;
  margin-block: 15px;
  padding: 0;
}
.discussions-list li {
  align-items: flex-start;
  background-color: var(--color-bg-post);
  border: 1px solid var(--color-border);
  border-radius: 5px;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); */
  box-shadow:
  0 2px 10px var(--color-shadow-warm),
  0 4px 4px var(--color-shadow-warm),
  0 25px 19px -11px var(--color-shadow-warm),
  0 10px 30px var(--color-shadow-warm);
  gap: 15px;
  margin-bottom: 15px;
  padding: 20px;
}
.discussions-list li .comment {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  margin-block: 15px;
}
.discussions-list li .comment:not(:hover) span {
  color: var(--color-txt-light);
}
.discussions-list li .avatar {
  aspect-ratio: 1 / 1;
  border-radius: 40px;
  height: 40px;
  margin-top: 1px;
  width: 40px;
}
.discussions-list li .meta {
  border-radius: 0 0 5px 5px;
  margin: 20px -20px -20px;
}



.meta {
  background-color: var(--color-bg-meta);
  color: var(--color-txt-light);
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  font-weight: 500;
  gap: 2px;
  line-height: 1;
  padding: 5px 10px 4px;
}
.meta a,
.meta span {
  border-radius: 5px;
  padding: 10px;
}
.meta a:hover {
  background-color: rgba(0, 0, 0, 0.06);
  color: var(--color-txt);
  text-decoration: none;
}
.meta span {
  cursor: default;
}




.discussion {
  background-color: var(--color-bg-post);
  border: 1px solid var(--color-border);
  border-radius: 5px;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); */
  box-shadow:
  0 2px 10px var(--color-shadow-warm),
  0 4px 4px var(--color-shadow-warm),
  0 25px 19px -11px var(--color-shadow-warm),
  0 10px 30px var(--color-shadow-warm);
  margin-bottom: 15px;
  padding: 20px;
}
.discussion .meta {
  border-radius: 5px 5px 0 0;
  margin: -20px -20px 20px;
}


@media (max-width: 900px) {
  .hidden-on-mobile {
    display: none;
  }
}
