/* Variables */
:root {
  --warm-white: #fff8f1;
  --white:      #fff;
  --charcoal:   #1d1e1c;

  --gray-alpha-50:  rgb(29 30 28 / 0.05);
  --gray-alpha-100: rgb(29 30 28 / 0.1);
  --gray-alpha-200: rgb(29 30 28 / 0.2);
  --gray-alpha-300: rgb(29 30 28 / 0.35);
  --gray-alpha-400: rgb(29 30 28 / 0.4);
  --gray-alpha-500: rgb(29 30 28 / 0.5);
  --gray-alpha-600: rgb(29 30 28 / 0.62);
  --gray-alpha-700: rgb(29 30 28 / 0.7);
  --gray-alpha-800: rgb(29 30 28 / 0.8);
  --gray-alpha-900: rgb(29 30 28 / 0.85);

  --gray-50:  #f5f5f5;
  --gray-100: #ebebeb;
  --gray-200: #d7d8d7;
  --gray-300: #b8b9b8;
  --gray-400: #aeaeae;
  --gray-500: #989897;
  --gray-600: #7d7d7c;
  --gray-700: #6a6b6a;
  --gray-800: #535352;
  --gray-900: #383938;

  --orange-50:  #FFEFE4;
  --orange-100: #FFE7D9;
  --orange-200: #FFC5A3;
  --orange-300: #FFA26C;
  --orange-400: #FF8036;
  --orange:     #FA5D00;
  --orange-600: #DF4B00;
  --orange-700: #BF3B00;

  --green-100: #DAEFDC;
  --green-200: #A8D6AD;
  --green-300: #76BC82;
  --green-400: #46A159;
  --green:     #188433;
  --green-600: #11742A;
  --green-700: #0B6221;

  --blue-100: #deedfd;
  --blue-200: #b1d0f8;
  --blue-300: #86b1f1;
  --blue-400: #5d8fe8;
  --blue:     #376bdd;
  --blue-600: #2a59c1;
  --blue-700: #1e48a3;

  --bg: var(--white);
  --color: var(--charcoal);
  --color-secondary: var(--gray-700);

  --left-nav-width: 170px;
}
@media (max-width: 600px) {
  :root {
    --left-nav-width: 100vw;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --gray-50:  rgba(255, 249, 242, 0.04);
    --gray-100: rgba(255, 249, 242, 0.1);
    --gray-200: rgba(255, 249, 242, 0.15);
    --gray-300: rgba(255, 249, 242, 0.2);
    --gray-400: rgba(255, 249, 242, 0.3);
    --gray-500: rgba(255, 249, 242, 0.4);
    --gray-600: rgba(255, 249, 242, 0.5);
    --gray-700: rgba(255, 249, 242, 0.6);
    --gray-800: rgba(255, 249, 242, 0.7);
    --gray-900: rgba(255, 249, 242, 0.9);

    --bg: #111;
    --color: var(--gray-900);
    --color-secondary: var(--gray-700);
  }
}



/* Muoto */
@font-face {
  font-display: swap;
  font-family: 'Muoto';
  font-style: normal;
  font-weight: 400;
  src: url('https://f.hubspotusercontent10.net/hubfs/19495563/raw_assets/public/harvest-theme/fonts/muoto/muoto-regular.woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Muoto';
  font-style: normal;
  font-weight: 500;
  src: url('https://f.hubspotusercontent10.net/hubfs/19495563/raw_assets/public/harvest-theme/fonts/muoto/muoto-medium.woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Muoto';
  font-style: normal;
  font-weight: 600;
  src: url('https://f.hubspotusercontent10.net/hubfs/19495563/raw_assets/public/harvest-theme/fonts/muoto/muoto-bold.woff2');
}



/* Base */
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
*:focus {
  outline-color: var(--charcoal);
}
html {
  background: var(--bg);
  color: var(--color);
  height: 100%;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}
body {
  background: transparent;
  color: inherit;
  font-family: "Muoto", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 15px;
  min-height: 100%;
  line-height: 1.4;
  margin: 0 0 0 var(--left-nav-width);
  overscroll-behavior: none;
}
@media (max-width: 1000px) {
  body {
    margin-left: 0;
  }
}
h1, h2, h3, h4, h5 {
  font-weight: 500;
  margin: 0;
}
h1 {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
}
h2 {
  font-size: 24px;
  line-height: 1.2;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 17px;
}
h5 {
  font-size: 15px;
}
a {
  color: var(--blue);
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}
@media (prefers-color-scheme: dark) {
  a {
    color: var(--blue-400);
  }
}
small {
  font-size: 13px;
}
hr {
  background: var(--gray-200);
  border: 0;
  display: block;
  height: 1px;
  margin: 0;
  padding: 0;
  width: 100%;
}
strong {
  font-weight: 500;
}
ul {
  padding-left: 0;
}
.avatar {
  border-radius: 300px;
  display: inline-block;
  vertical-align: middle;
}



/* Left Nav */
#left-nav {
  background: var(--charcoal);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
  margin: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  overflow: auto;
  padding-bottom: 16px;
  position: fixed;
  top: 0;
  width: var(--left-nav-width);
  z-index: 2;
}
#left-nav .logo a {
  align-items: center;
  display: flex;
  margin: 24px 16px;
}
#left-nav .logo img {
  display: block;
  height: 48px;
  width: 48px;
}
#left-nav nav {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
#left-nav nav > a {
  align-items: center;
  color: var(--white);
  display: flex;
  font-size: 15px;
  font-weight: 400;
  gap: 8px;
  height: 38px;
  line-height: 38px;
  padding: 0 16px;
  text-decoration: none;
}
#left-nav nav > a:hover {
  background-color: var(--gray-900);
}
#left-nav nav > a.is-active {
  background-color: var(--gray-800);
  box-shadow: inset 3px 0 0 var(--orange);
  font-weight: 500;
}
#left-nav nav time {
  font-weight: 400;
  margin-left: auto;
  opacity: 0.6;
}
#left-nav nav img {
  border-radius: 18px;
  height: 18px;
  width: 18px;
}
#left-nav nav hr {
  background: var(--gray-800);
  border: 0;
  height: 1px;
  margin: 8px;
  width: auto;
}
#left-nav nav > a.help-menu,
#left-nav nav > a.close-menu {
  display: none;
}
#left-nav nav > a.close-menu {
  background: var(--gray-900);
  border-radius: 5px;
  height: auto;
  gap: 4px;
  justify-content: center;
  line-height: normal;
  padding: 8px;
  position: absolute;
  right: 16px;
  top: 24px;
}
.mobile-menu-button {
  align-items: center;
  background-color: var(--charcoal);
  border: 0;
  color: var(--white);
  cursor: pointer;
  display: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  gap: 8px;
  height: 48px;
  padding: 0 16px;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  width: 100vw;
  z-index: 1;
}
@media (max-width: 1000px) {
  #left-nav {
    display: none;
  }
  #left-nav nav > a.help-menu,
  #left-nav nav > a.close-menu,
  .mobile-menu-button {
    display: flex;
  }
  #left-nav nav time {
    margin-left: 0;
  }
}
@media (prefers-color-scheme: dark) {
  #left-nav nav > a {
    color: var(--color-secondary);
  }
  #left-nav nav > a:hover,
  #left-nav nav > a.is-active {
    background: var(--gray-100);
    border-left-color: var(--orange);
    color: var(--color);
  }
  #left-nav nav > hr {
    background: var(--gray-100);
  }
}


/* Help Button */
.help-menu-button span {
  display: none;
}
.help-menu-button::before {
  content: "?"
}
.help-menu-button {
  align-items: center;
  background-color: var(--orange);
  border: 0;
  border-radius: 60px;
  bottom: 16px;
  box-shadow: 0 1px 5px rgb(0 0 0 / 0.01),
              0 2px 6px rgb(0 0 0 / 0.02),
              0 3px 7px rgb(0 0 0 / 0.04),
              0 4px 8px rgb(0 0 0 / 0.05);
  color: var(--warm-white);
  display: flex;
  font-size: 24px;
  height: 40px;
  justify-content: center;
  position: fixed;
  right: 16px;
  text-decoration: none;
  width: 40px;
  z-index: 1;
}
.help-menu-button:hover {
  background-color: var(--orange-600);
}
.help-menu-button:active {
  background-color: var(--orange-700);
}
@media (max-width: 1000px) {
  .help-menu-button {
    display: none;
  }
}



/* Top Nav */
#top-nav {
  box-shadow: inset 0 -1px 0 var(--gray-200);
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0 38px;
}
#top-nav nav {
  align-items: center;
  display: flex;
  gap: 12px;
}
#top-nav nav > a {
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
  display: flex;
  color: var(--color-secondary);
  font-size: 13px;
  font-weight: 400;
  gap: 4px;
  height: 100%;
  padding: 12px 4px;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
}
#top-nav nav > a:hover,
#top-nav nav > a.is-active {
  border-bottom-color: var(--orange);
  color: var(--color);
}
#top-nav nav > a:active {
  border-bottom-color: var(--orange-700);
}
#top-nav nav > a.is-active {
  font-weight: 500;
}
#top-nav nav > a:focus {
  outline-offset: -1px;
}
@media (max-width: 1000px) {
  #top-nav {
    padding-left: 16px;
    padding-right: 16px;
  }
}



/* Layout */
main {
  margin: auto;
  max-width: 1600px;
  padding: 38px;
  position: relative;
}
main.medium {
  max-width: 900px;
}
main.narrow {
  max-width: 720px;
}
@media (max-width: 1000px) {
  main {
    margin-bottom: 100px;
    padding-left: 16px;
    padding-right: 16px;
  }
}



/* Components */

/* Buttons */
.button {
  align-items: center;
  background-color: var(--white);
  border: 1px solid var(--gray-300);
  border-radius: 6px;
  color: var(--color);
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 15px;
  font-weight: 400;
  gap: 4px;
  height: 38px;
  justify-content: center;
  line-height: 38px;
  margin: 0;
  padding: 0 16px;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
}
.button:hover {
  background-color: var(--gray-50);
  border-color: var(--gray-400);
  color: var(--color);
  box-shadow: 0 1px 2px var(--gray-alpha-100);
}
.button:hover, .button:focus {
  z-index: 1;
}
.button:active {
  background-color: var(--gray-100);
  box-shadow: none !important;
}
@media (prefers-color-scheme: dark) {
  .button {
    background-color: var(--gray-100);
    border: 0;
  }
  .button:hover {
    background-color: var(--gray-200);
  }
  .button:active {
    background-color: var(--gray-100);
  }
}
.button-sm {
  font-size: 13px;
  height: 33px;
  line-height: 33px;
  padding: 0 8px;
}
.button-xs {
  font-size: 13px;
  height: 29px;
  line-height: 29px;
  padding: 0 8px;
}
.button.running {
  background-color: var(--charcoal);
  border: transparent;
  color: var(--white);
  font-weight: 500;
}
@media (prefers-color-scheme: dark) {
  .button.running {
    background-color: var(--orange);
  }
}
.button.running:hover {
  background-color: var(--gray-900);
  box-shadow: 0 1px 2px var(--gray-alpha-200);
}
.button.running:active {
  background-color: var(--gray-800);
}
@media (prefers-color-scheme: dark) {
  .button.running {
    background-color: var(--orange);
  }
  .button.running:hover {
    background-color: var(--orange-600);
  }
  .button.running:active {
    background-color: var(--orange-700);
  }
}
.button.primary {
  background-color: var(--blue);
  border: transparent;
  color: var(--white);
  font-weight: 500;
}
@media (prefers-color-scheme: dark) {
  .button.primary {
    color: var(--gray-900);
  }
}
.button.primary:hover {
  background-color: var(--blue-600);
  box-shadow: 0 1px 2px var(--gray-alpha-200);
}
.button.primary:active {
  background-color: var(--blue-700);
}
.button.button-empty:not(:hover):not(:active) {
  background-color: transparent;
  border: transparent;
}
.button.is-disabled {
  background-color: var(--gray-50) !important;
  border-color: var(--gray-200) !important;
  color: var(--gray-600) !important;
  box-shadow: none !important;
  cursor: not-allowed !important;
  opacity: 0.7 !important;
  transform: none !important;
  z-index: 0 !important;
}
.button.primary.is-disabled {
  background-color: var(--blue-200) !important;
  border-color: transparent !important;
  color: var(--white) !important;
}
@media (prefers-color-scheme: dark) {
  .button.primary.is-disabled {
    background-color: var(--blue-700) !important;
    opacity: 0.3 !important;
  }
}
.button.is-filtered span {
  color: var(--blue);
}
@media (prefers-color-scheme: dark) {
  .button.is-filtered span {
    color: var(--blue-400);
  }
}
.button-group {
  display: flex;
}
.button-group .button {
  background-clip: padding-box;
  margin-right: -1px;
}
.button-group .button:not(:first-of-type):not(:last-of-type) {
  border-radius: 0;
}
.button-group .button:first-of-type {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.button-group .button:last-of-type {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-right: 0;
}
a.button {
  text-decoration: none;
}
.button-icon {
  padding: 0;
  width: 38px;
}
.button-sm.button-icon {
  width: 33px;
}

/* Inputs */
.input {
  align-items: center;
  appearance: none;
  background-color: var(--white);
  border: 1px solid var(--gray-300);
  border-radius: 4px;
  caret-color: var(--charcoal);
  color: inherit;
  display: inline-flex;
  font-family: inherit;
  font-size: inherit;
  height: 38px;
  line-height: inherit;
  margin: 0;
  padding: 0 8px;
  width: 100%;
  vertical-align: middle;
}
.input.search {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGFyaWEtbGFiZWw9IlNlYXJjaCBpY29uIj4KICA8Y2lyY2xlIGN4PSIxMSIgY3k9IjExIiByPSI4IiAvPgogIDxsaW5lIHgxPSIyMSIgeTE9IjIxIiB4Mj0iMTYuNjUiIHkyPSIxNi42NSIgLz4KPC9zdmc+Cg==);
  background-position: 10px 50%;
  background-repeat: no-repeat;
  padding-left: 32px;
  width: 200px;
}
.input:hover, .input:active {
  border-color: var(--gray-600);
}
@media (prefers-color-scheme: dark) {
  .input {
    background-color: transparent;
  }
  .input:hover, .input:active {
    border-color: var(--gray-600);
  }
}
.input.inline {
  background-color: transparent;
  border: 0;
  height: auto;
  margin: -2px;
  padding: 2px;
  width: auto;
  vertical-align: baseline;
}
.input.inline:hover {
  background-color: var(--white);
  box-shadow: inset 0 0 0 1px var(--gray-600);
}
textarea.input {
  height: auto;
  line-height: 1.4;
  padding-bottom: 6px;
  padding-top: 7px;
  resize: vertical;
}
input[type="checkbox"],
input[type="radio"] {
  accent-color: var(--orange);
  cursor: pointer;
  display: inline-flex;
  height: 15px;
  margin: -2px 2px 0 0 !important;
  /* opacity: 0.7; */
  vertical-align: middle;
  width: 15px;
}

/* Tables */
@media screen and (max-width: 1200px) {
  .table-wrapper {
    max-width: 100%;
    overflow: auto;
  }
  .table-wrapper .table {
    min-width: 700px;
  }
}
.timeexpense-row-buttons span {
  display: none;
}
@media screen and (min-width: 600px) {
  .timeexpense-row-meta {
    align-items: flex-start;
    display: flex;
    gap: 16px;
  }
  .timeexpense-row-buttons .flex {
    flex-wrap: nowrap;
  }
  .timeexpense-row-buttons span {
    display: inline;
  }
}
.table {
  border-top: 1px solid var(--gray-200);
  font-size: inherit;
  line-height: inherit;
  text-align: left;
  width: 100%;
}
.table th, .table td {
  border-bottom: 1px solid var(--gray-200);
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 8px;
}
.table th.no-width, .table td.no-width {
  width: 1px;
}
.table th {
  background-color: var(--gray-50);
  color: var(--color-secondary);
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  z-index: 1;
}
.table th:hover,
.table th.is-sorted {
  color: var(--color);
  cursor: pointer;
}
.table th.is-sorted svg {
  color: var(--orange);
  display: inline-block;
  margin-top: -2px;
  vertical-align: middle;
}
.table td {
  line-height: normal;
  min-height: 33px;
}
.table tbody tr:hover td {
  background-color: var(--blue-100) !important;
  cursor: pointer;
}
@media (prefers-color-scheme: dark) {
  .table tbody tr:hover td {
    background-color: var(--blue-700) !important
  }
}
.table tfoot td {
  border: 0
}
.time-table {
  border-top: 0;
}
.time-table td,
.expense-table td {
  padding-bottom: 16px;
  padding-top: 16px;
}
.time-table tr.is-running td {
  background-color: var(--warm-white);
}
@media (prefers-color-scheme: dark) {
  .time-table tr.is-running td {
    background-color: var(--gray-50);
  }
}

/* Tabs */
.tabs {
  box-shadow: inset 0 -1px 0 var(--gray-200);
  overflow-x: auto;
  overflow-y: hidden;
}
.tabs nav {
  align-items: center;
  display: flex;
  gap: 16px;
  width: 100%;
}
.tabs nav > a {
  border-bottom: 2px solid transparent;
  display: flex;
  color: var(--color-secondary);
  font-weight: 400;
  gap: 4px;
  height: 100%;
  padding: 8px 4px;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
}
.tabs nav > a:hover,
.tabs nav > a.is-active {
  border-bottom-color: var(--orange);
  color: var(--color);
}
.tabs nav > a:active {
  border-bottom-color: var(--orange-700);
}
.tabs nav > a.is-active {
  font-weight: 500;
}
.tabs nav > a:focus {
  outline-offset: -1px;
}
.tabs.time-tabs nav {
  gap: 4px;
}
.tabs.time-tabs nav > a {
  flex: 1;
}
.tabs.time-tabs nav > a:not(.is-active):not(:hover){
  filter: grayscale(1);
}
.tabs.time-tabs div {
  border-bottom: 3px solid transparent;
  padding: 8px 4px;
  text-align: right;
}

/* Meters */
.meter {
  background: var(--gray-alpha-50);
  border-radius: 100px;
  height: 11px;
  margin: 5px 0;
  overflow: hidden;
  position: relative;
  width: 200px;
}
.meter:before {
  background-color: var(--charcoal);
  box-sizing: border-box;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 65%;
}
@media (prefers-color-scheme: dark) {
  .meter::before {
    background-color: var(--gray-alpha-300);
  }
}
.meter::after {
  border: 1px solid var(--gray-alpha-100);
  border-radius: 3px;
  box-sizing: border-box;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Badges */
.badge {
  background: var(--blue-100);
  border-radius: 100px;
  color: var(--blue-600);
  font-size: 13px;
  padding: 4px 8px;
}
.badge.green {
  background: var(--green);
  color: var(--white);
}

/* Summary */
.summary {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: flex-start;
  width: 100%;
}
.summary-no-box {
  flex: auto;
}
.summary-box {
  border: 1px solid var(--gray-100);
  flex: auto;
  padding: 16px;
}

/* Back */
.back-to {
  color: var(--blue);
  line-height: 1;
}
@media (prefers-color-scheme: dark) {
  .back-to {
    color: var(--blue-400);
  }
}

/* Empty */
.empty {
  background-color: var(--gray-50);
  border-radius: 12px 0 12px 0;
  color: var(--color-secondary);
  font-size: 17px;
  justify-content: center;
  padding: 48px;
  text-align: center;
}
.empty.big {
  padding-bottom: 120px;
  padding-top: 120px;
}
.empty img {
  display: inline-block;
}
@media (max-width: 500px) {
  .empty br {
    display: none;
  }
}

/* Form Box */
.form-box {
  background-clip: padding-box;
  background-color: var(--warm-white);
  border: 1px solid var(--orange);
  border-radius: 12px 0 12px 0;
  /* box-shadow: 0 1px 2px rgb(0 0 0 / 0.01),
              0 2px 3px rgb(0 0 0 / 0.02),
              0 3px 4px rgb(0 0 0 / 0.04),
              0 4px 5px rgb(0 0 0 / 0.05); */
  padding: 32px;
}
@media (prefers-color-scheme: dark) {
  .form-box {
    background-color: var(--gray-50);
    border-color: transparent;
  }
}
.form-box-inner {
  margin: auto;
  max-width: 640px;
}
label {
  cursor: pointer;
}
.field .left label {
  font-weight: 500;
  margin-bottom: 4px;
}
.field .right {
  width: 100%;
}
@media (min-width: 600px) {
  .field {
    display: grid;
    grid-template-columns: 140px 1fr;
    gap: 16px;
  }
  .field .left label {
    align-items: center;
    cursor: text;
    display: flex;
    height: 38px;
    margin: 0;
  }
  .field .left label.no-height {
    height: auto;
  }
  .submit {
    margin-left: 156px;
  }
}
.required {
  color: var(--orange);
}























/* Atomic */
.flex {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: flex-start;
}
.align-items-baseline {
  align-items: baseline;
}
.align-items-center {
  align-items: center;
}
.justify-space-between {
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .filters {
    justify-content: start;
  }
  .filters > .flex {
    display: contents;
  }
}
.text-13 {
  font-size: 13px;
}
.text-400 {
  font-weight: 400;
}
.text-secondary {
  color: var(--color-secondary);
}
.text-right {
  text-align: right;
}
.mr-4 {
  margin-right: 4px;
}
.mr-8 {
  margin-right: 8px;
}
.mr-16 {
  margin-right: 16px;
}
.ml-auto {
  margin-left: auto;
}
.ml-4 {
  margin-left: 4px;
}
.ml-8 {
  margin-left: 8px;
}
.ml-16 {
  margin-left: 16px;
}
.mb-4 {
  margin-bottom: 4px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mt-8 {
  margin-top: 8px;
}
.mt-16 {
  margin-top: 16px;
}
.mt-24 {
  margin-top: 24px;
}
.pt-8 {
  padding-top: 8px;
}
.nowrap {
  flex-wrap: nowrap !important;
  white-space: nowrap !important;
}
.text-center {
  text-align: center;
}



.show-desktop {
  display: flex;
}
.show-mobile {
  display: none;
}
@media (max-width: 1000px) {
  .show-desktop {
    display: none;
  }
  .show-mobile {
    display: flex;
  }
}
