/* Variables */
:root {
  --bg:      #fcfcfc;
  --color:   35 35 35;
  --text:    rgb(var(--color));
  --text-lt: rgb(var(--color) / 0.67);
  --border:  rgb(var(--color) / 0.3);
  --img-bg:  rgb(var(--color) / 0.05);
  --primary: deeppink;

  --zoom-bg: rgb(5 5 5 / 0.9);

  --font-mono:  'LG Mono', Monaco, monospace;
  --font-sans:  'LG', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  --line-height: calc(1em + 8px);

  --clamp-sm: clamp(2rem, 4vw, 4rem);
  --clamp-lg: clamp(3rem, 8vw, 5rem);

  --max-width-sm: 35rem;
  --max-width-lg: 60rem;

  --transition: opacity 150ms, transform ease-out 150ms;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg:      #111;
    --color:   220 220 220;
    --primary: hotpink;
  }
}
@media (prefers-reduced-motion) {
  :root {
    --transition: none;
  }
}



/* Lab Grotesque Font */
@font-face {
  font-display: swap;
  font-family: 'LG';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/LG-Regular.woff2');
}
@font-face {
  font-display: swap;
  font-family: 'LG';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/LG-RegularItalic.woff2');
}
@font-face {
  font-display: swap;
  font-family: 'LG';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/LG-Bold.woff2');
}
@font-face {
  font-display: swap;
  font-family: 'LG';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/LG-BoldItalic.woff2');
}
@font-face {
  font-display: swap;
  font-family: 'LG Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/LG-mono.woff');
}



/* Base */
*, *:before, *:after {
  box-sizing: border-box;
  overflow-wrap: break-word;
}
html {
  font-size: 125%;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  scroll-behavior: smooth;
  text-rendering: optimizelegibility;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}
@media (min-width: 125rem) {
  html {
    font-size: 150%;
  }
}
@media print {
  html {
    font-size: 75% !important;
  }
  .do-not-print {
    display: none !important;
  }
}
@media (prefers-reduced-motion) {
  html {
    scroll-behavior: auto;
  }
}
body {
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--font-sans);
  font-size: 1rem;
  font-weight: 400;
  line-height: var(--line-height);
  margin: 0;
  padding: 0 1rem;
}
h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: var(--line-height);
  margin: 0;
}
h1 {
  font-size: 1.5rem;
}
@media (min-width: 35rem) {
  h1 {
    font-size: 2rem;
  }
}
ol, ul {
  margin: 1.5rem 0;
  padding: 0 0 0 2rem;
}
li {
  margin: 0.5rem 0;
}
a {
  color: inherit;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}
@media (pointer: fine) {
  a:hover {
    color: var(--primary);
  }
}
img, picture, video, svg {
  display: block;
  margin: auto;
  max-width: 100%;
  object-fit: cover;
}
hr {
  border-color: var(--border);
  border-style: solid;
  border-width: 1px 0 0;
  margin: var(--clamp-sm) auto;
}



/* Components */
.button {
  border-radius: 0.5em;
  border: 1px solid var(--border);
  display: inline-flex;
  font-size: 0.9rem;
  line-height: var(--line-height);
  gap: 0.5em;
  padding: 0.5em 0.75em;
  text-decoration: none;
  transition: var(--transition);
}
.download-button::before {
  content: "↓";
  transition: var(--transition);
}
@media (pointer: fine) {
  .button:hover {
    border-color: var(--primary);
  }
  .download-button:active::before {
    transform: translateY(2px);
  }
}



/* Layout */
/* main,
section {
  margin: var(--clamp-lg) auto;
  max-width: var(--max-width-lg);
} */
.inner {
  margin: auto;
  max-width: var(--max-width-sm);
}
/* .base-header,
.base-footer {
  margin: var(--clamp-sm) auto;
} */



/* Header */
.base-header {
  background-color: var(--bg);
  margin-bottom: var(--clamp-lg);
  position: sticky;
  top: 0;
}
.base-header .inner {
  align-items: center;
  border-bottom: 2px solid var(--text);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-block: 1rem;
}
@media (min-width: 40rem) {
  .base-header .inner {
    padding-block: 2rem;
  }
}
.base-header h2 {
  text-transform: uppercase;
}
.base-header ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.base-header li {
  margin: 0;
}
.base-header a {
  text-decoration: none;
}
.base-header ul a:not(.selected):not(:hover) {
  color: var(--text-lt);
}



/* About */
.portrait {
  height: auto;
  margin-bottom: 1.2rem;
  width: auto;
}



/* Work */
.project-list {
  list-style: none;
  padding: 0;
}
.project-list li {
  margin: 0 0 -1px;
}
.project {
  align-items: flex-start;
  border-bottom: 1px solid var(--border);
  border-top: 1px solid var(--border);
  display: flex;
  font-size: 0.9rem;
  line-height: var(--line-height);
  gap: 1rem;
  height: 100%;
  padding: 1rem 0;
  position: relative;
  text-decoration: none;
}
.project-list li:not(:last-of-type) .project {
  border-bottom-color: transparent
}
@media (min-width: 40rem) {
  .project {
    padding: 1rem 0.5rem;
  }
}
.project::before {
  content: "→";
  padding-top: 0.1rem;
  transition: var(--transition);
}
.project:not(:hover) span {
  color: var(--text-lt);
}
@media (pointer: fine) {
  .project:hover {
    border-color: var(--primary) !important;
    color: var(--primary);
    z-index: 1;
  }
  .project:hover::before {
    transform: translateX(6px)
  }
}



/* Post */
.post-header :is(span, time) {
  color: var(--text-lt);
  display: block;
  padding-top: 0.25em;
}
.post :is(h2, h3, h4, h5, h6) {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 3rem;
}
figure {
  margin: var(--clamp-sm) auto;
}
figure *:not(:first-child) {
  margin: 0.5rem auto 0;
}
figcaption {
  color: var(--text-lt);
  font-size: 0.8rem;
  line-height: normal;
  margin: 0 !important;
  padding: 0.25rem 0.5rem 0;
  text-align: center;
}
figcaption a {
  text-underline-offset: 1px;
}
.bordered {
  background: var(--img-bg);
  padding: 1rem;
}
.bordered.whimsical {
  background: #f0f4f7;
}
img.shadowed {
  box-shadow: 0 0.25rem 0.5rem -0.25rem rgba(0, 0, 0, 0.3);
  margin-bottom: 0.25rem;
}
@media (min-width: 40rem) {
  .bordered {
    padding: 2rem;
  }
  img.shadowed {
    box-shadow: 0 0.5rem 0.75rem -0.25rem rgba(0, 0, 0, 0.25);
  }
  .side-by-side {
    align-items: flex-start;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
  }
  .side-by-side > * {
    margin: 0 auto !important;
  }
  .side-by-side .bordered {
    padding: 1rem;
  }
}
.medium-zoom-overlay {
  background: var(--zoom-bg) !important;
}



/* Post Nav */
.post-nav {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 35rem) {
  .post-nav {
    font-size: 1.2rem;
    line-height: var(--line-height);
  }
}
.post-nav .next {
  text-align: right;
}
.post-nav span {
  color: var(--text-lt);
  display: block;
  font-size: 0.8rem;
  line-height: var(--line-height);
  white-space: nowrap;
}



/* Footer */
.base-footer ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  padding: 0;
  position: relative;
}
.base-footer li {
  margin: 0;
}
.base-footer a {
  display: block;
}
.base-footer svg {
  height: 1.2rem;
  width: 1.2rem;
}
@media (pointer: fine) {
  .base-footer a::before {
    bottom: 1.2rem;
    color: var(--primary);
    content: attr(aria-label);
    font-size: 0.8rem;
    line-height: 2;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transform: translateY(5px);
    transition: var(--transition);
    user-select: none;
    white-space: nowrap;
  }
  .base-footer a:hover::before {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    transition: var(--transition);
  }
}



/* Utilities */
.m-0 {
  margin: 0;
}
