<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="robots" content="noindex">
  <title>DISSCUZIONS</title>
  <link rel="stylesheet" href="/css/fffforum.css">
  <script src="https://kit.fontawesome.com/4573453903.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>

  <aside>
    <a href="/fffforum" style="margin-right:auto"><i class="fa-regular fa-arrow-left"></i> Back home</a>
    <a href="#"><i class="fa-solid fa-bell"></i></a>
    <a href="#"><img src="/images/matthew-lettini-avatar.jpg" alt="" class="avatar"></a>
  </aside>

  <header>
    <br>
    Testing the individual discussion post page:
  </header>

  <main>
    <section class="discussion">
      <div class="meta">
        <span><i class="fa-solid fa-thumbtack"></i> Pinned</span>
        <a href="/fffforum-post"><i class="fa-solid fa-comment"></i> 231</a>
        <a href="#"><i class="fa-solid fa-hashtag"></i> Category</a>
        <a href="#" style="margin-left: auto"><i class="fa-solid fa-ellipsis"></i></a>
      </div>

      <div>
        <h1>Show your desk!</h1>
        <p>
          First post
        </p>
      </div>
    </section>
  </main>

</body>
</html>
