<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="robots" content="noindex">
  <title>FFFFORUM PROTOTYPE</title>
  <link rel="stylesheet" href="/css/fffforum.css">
  <script src="https://kit.fontawesome.com/4573453903.js" crossorigin="anonymous"></script>
</head>
<body>

  <aside>
    <a href="#">Profile Dropdown</a>
  </aside>

  <header>
    <h1>FFFFORUM NAME & IMAGE</h1>
  </header>

  <main>
    <nav>
      <ul>
        <li><a href="#" class="selected">Discussions</a></li>
        <li><a href="#">Comments</a></li>
        <li><a href="#">Members</a></li>
        <li><a href="#">Settings</a></li>
      </ul>
    </nav>

    <nav>
      <ul>
        <li>Filter:&nbsp;</li>
        <li><a href="#" class="selected">Everything</a></li>
        <li><a href="#">Bookmarks</a></li>
        <li><a href="#">Categories <i class="fa-regular fa-chevron-down"></i></a></li>
        <li></li>
      </ul>
    </nav>

    <nav>
      <ul>
        <li>Sort:&nbsp;</li>
        <li><a href="#" class="selected">Newest</a></li>
        <li><a href="#">Updated</a></li>
      </ul>
    </nav>

    <section class="discussions-list">
      <ul>
        <li>
          <img src="/images/matthew-lettini-avatar.jpg" alt="" class="avatar">
          <a href="#">
            <h2>Name of thread</h2>
            Person A · X days ago
            <br>
            Person B · X min ago
          </a>
          <a href="#" style="margin-left: auto; text-align: right">
            <h2><i class="fa-solid fa-comment"></i></h2>
          </a>
        </li>
        <li>
          <img src="/images/matthew-lettini-avatar.jpg" alt="" class="avatar">
          <a href="#">
            <h2>Name of thread</h2>
            Person A · X days ago
            <br>
            Person B · X min ago
          </a>
          <a href="#" style="margin-left: auto; text-align: right">
            <h2><i class="fa-solid fa-comment"></i></h2>
          </a>
        </li>
      </ul>
    </section>
  </main>

</body>
</html>
