<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="robots" content="noindex">
  <title>DISSCUZIONS</title>
  <link rel="stylesheet" href="/css/fffforum.css">
  <script src="https://kit.fontawesome.com/4573453903.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>

  <aside>
    <a href="#"><i class="fa-solid fa-bell"></i></a>
    <a href="#"><img src="/images/matthew-lettini-avatar.jpg" alt="" class="avatar"></a>
  </aside>

  <header>
    <h1>Zoom Zoom Drawing Club</h1>
    Testing the discussions list home page:
  </header>

  <main>
    <nav class="filter-bar">
      <ul>
        <li><a href="#" class="selected">All</a></li>
        <li><a href="#">Following</a></li>
        <li><a href="#">Category <i class="fa-solid fa-chevron-down"></i></a></li>
      </ul>
    </nav>

    <section class="discussions-list">
      <ul>
        <li>
          <h2><a href="/fffforum-post">Show your desk!</a></h2>
          <a href="/fffforum-post" class="comment">
            <img src="/images/matthew-lettini-avatar.jpg" alt="" class="avatar">
            <p>
              <span><span class="hidden-on-mobile">Started by </span>@mlettini · Nov 21, 2022</span>
              — Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque...
            </p>
          </a>
          <a href="/fffforum-post" class="comment">
            <img src="https://ca.slack-edge.com/T02UYK6DLNB-U02VAAP7WGM-g0218fde3a78-512" alt="" class="avatar">
            <p>
              <span><span class="hidden-on-mobile">Latest by </span>@bjhess · 10:13am</span>
              — Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean...
            </p>
          </a>
          <div class="meta">
            <span><i class="fa-solid fa-thumbtack"></i> Pinned</span>
            <a href="/fffforum-post"><i class="fa-solid fa-comment"></i> 231</a>
            <a href="#"><i class="fa-solid fa-hashtag"></i> Category</a>
            <a href="#" style="margin-left: auto"><i class="fa-solid fa-ellipsis"></i></a>
          </div>
        </li>

        <li>
          <h2><a href="/fffforum-post">What are you working on? (March 2023 Edition)</a></h2>
          <a href="/fffforum-post" class="comment">
            <img src="/images/matthew-lettini-avatar.jpg" alt="" class="avatar">
            <p>
              <span><span class="hidden-on-mobile">Started by </span>@mlettini · Feb 20</span>
              — Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque...
            </p>
          </a>
          <div class="meta">
            <a href="#"><i class="fa-solid fa-hashtag"></i> Category</a>
            <a href="#" style="margin-left: auto"><i class="fa-solid fa-ellipsis"></i></a>
          </div>
        </li>
      </ul>
    </section>
  </main>

</body>
</html>
